test/data/imports/xml2json/system/modules/org.opencms.test.xml2json/schemas/child.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd" />
<!--    <xsd:include schemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/formatters/choice_headinclude_css.xsd" /> -->
    
    <xsd:element name="XjChilds" type="OpenCmsXjChilds" />
    
    <xsd:complexType name="OpenCmsXjChilds">
        <xsd:sequence>
            <xsd:element name="XjChild" type="OpenCmsXjChild" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="OpenCmsXjChild">
        <xsd:sequence>
        	<xsd:element name="Text" type="OpenCmsString" />
        </xsd:sequence>
        <xsd:attribute name="language" type="OpenCmsLocale" use="optional" />
    </xsd:complexType>
   <xsd:annotation>
        <xsd:appinfo>
        </xsd:appinfo> 
    </xsd:annotation>    
</xsd:schema>