modules/org.opencms.frontend.template3.demo/resources/system/modules/org.opencms.frontend.template3.demo/schemas/imagesource.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
		
	<xsd:element name="T3ImageSources" type="OpenCmsT3ImageSources"/>
	
	<xsd:complexType name="OpenCmsT3ImageSources">
		<xsd:sequence>
			<xsd:element name="T3ImageSource" type="OpenCmsT3ImageSource" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsT3ImageSource">
		<xsd:sequence>
			<xsd:element name="Title" type="OpenCmsString" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundle name="org.opencms.frontend.template3.demo.workplace"/>
			<preview uri="${previewtempfile}" />
			<mappings>
				<mapping element="Title" mapto="property:Title" />
			</mappings>
			<formatters>
				<formatter type="center" uri="/system/modules/org.opencms.frontend.template3.demo/elements/imagesources.jsp" />
			</formatters>
		</xsd:appinfo>

	</xsd:annotation>  
</xsd:schema>