src/org/opencms/configuration/opencms-workplace.dtd

<!--
# The root configuration node is called <opencms> for all OpenCms configurations.
-->
<!ELEMENT opencms (workplace)>

<!--
# <workplace> configuration:
#
# The workplace configuration contains options required for the "back office"
# part of OpenCms.
-->
<!ELEMENT workplace (
	defaultlocale,
	localizedfolders,
	dialoghandlers,
	postuploadhandler?,
	editorhandler,
	editoraction,
	editorcsshandlers?,
	editorpreconditions?,
	directeditprovider?,
	exportpoints,
	autolock?,
	acacia-unlock?,
	xmlcontentautocorrection?,
	enableusermanagement?,
	defaultpropertiesonstructure,
	enableadvancedpropertytabs,
	categoryfolder?,
	categorydisplayoptions?,
	group-translation?,
	maxfileuploadsize?,
	labeledfolders?,
	repositoryfolder?,
	workflow?,
	rfsfileviewsettings?,
	explorertypes+,
	user-infos?,
	account-infos?,
	default-preferences,
	tool-manager?,
	user-lists?,
	synchronization?,
	keep-alive?,
	gallery-default-scope?,
	element-delete-mode?,
	additional-log-folders?,
	use-formatter-keys-for-new-sites?,
	upload-restriction?,
	virus-scanner?,
	sitemap-config-edit-role?,
	allow-element-author-to-work-in-galleries?
	)>

<!--
# Configuration for the RFS synchronization
-->
<!ELEMENT synchronization (exclude-pattern+) >

<!--
# A string pattern to exclude when synchronizing
-->
<!ELEMENT exclude-pattern (#PCDATA) >

<!--
# The user additional information configuration.
-->
<!ELEMENT user-infos (info-block+) >

<!--
# The configuration of a block of user additional information.
-->
<!ELEMENT info-block (user-info+) >
<!ATTLIST info-block name CDATA #REQUIRED>

<!--
# The user additional information entry configuration.
-->
<!ELEMENT user-info EMPTY >
<!ATTLIST user-info key CDATA #REQUIRED
                    type (java.lang.Byte|java.lang.Short|java.lang.Integer|java.lang.Long|java.lang.Float|java.lang.Double|java.lang.Boolean|java.lang.Character|java.lang.String|java.util.Date|org.opencms.CmsUUID) #IMPLIED
		  			widget CDATA #IMPLIED
		  			params CDATA #IMPLIED
		  			optional (true|TRUE|false|FALSE) #IMPLIED >

<!ELEMENT account-infos (account-info+) >
<!ELEMENT account-info EMPTY >
<!ATTLIST account-info  field (lastname|firstname|email|institution|address|zipcode|city|country|addinfo) #REQUIRED
                        addinfo-key CDATA #IMPLIED
						editable (true|TRUE|false|FALSE) #IMPLIED >

<!--
# The tool manager configuration.
-->
<!ELEMENT tool-manager (roots) >

<!--
# A list of tool's roots.
-->
<!ELEMENT roots (root*) >

<!--
# A root.
-->
<!ELEMENT root (key, uri, name, helptext) >

<!--
# The key for accessing a root.
-->
<!ELEMENT key (#PCDATA) >

<!--
# The uri to look for tools for this root.
-->
<!ELEMENT uri (#PCDATA) >

<!--
# a macro for the display name of the given root.
-->
<!ELEMENT name (#PCDATA) >

<!--
# a macro for the helptext of the given root.
-->
<!ELEMENT helptext (#PCDATA) >

<!--
# The default locale of the OpenCms workplace that is selected if a user
# log into the workplace for the first time, of if his current selection
# is invalid. User can change this setting individually with the preference dialog.
-->
<!ELEMENT defaultlocale (#PCDATA)>

<!--
# The worplace localized folders control if the workplace locale handler is used
# for a configured folder.
-->
<!ELEMENT localizedfolders (resource*)>
<!ELEMENT resource EMPTY>
<!ATTLIST resource uri CDATA #REQUIRED>

<!--
# The workplace dialog handlers allow extending / changing the default
# Workplace dialogs with another, customized implementation.
# For example, if your application requires a lot of special properties,
# you can implement your own property dialog handler that contains only
# the properties required by your application in a more user friendly form.
#
# For the property dialog (org.opencms.workplace.commons.CmsPropertyAdvanced)
# the "advanced" button can be hidden over the optional parameters
# and shown only for specified groups of users. If no <param> Elements are set
# all OpenCms user can see the "advanced" button of the property dialog.
# However the admin user will always see the "advanced" button.
# To hide the "advanced" button set the "hideadvanced" attribute to value "true":
# 	<param name="hideadvanced">true</param>
# To show the button to the specified user groups in addition set the "showgroup" attribute.
# The value should be the full qualified name of the user group:
#	<param name="showgroup">/Groupname</param> or <param name="showgroup">Groupname</param> in the root organisational unit
#   <param name="showgroup">/subOrganizationalUnit/Groupname</param> in the sub organizational unit
#
# If OpenCms does not start because a customized dialog handler class is not found, use the following
# default dialog handler classes:
# - Delete dialog: org.opencms.workplace.commons.CmsDelete
# - Lock dialog: org.opencms.workplace.commons.CmsLock
# - Property dialog: org.opencms.workplace.commons.CmsPropertyAdvanced
-->
<!ELEMENT dialoghandlers (dialoghandler+)>
<!ELEMENT dialoghandler (param*)>
<!ATTLIST dialoghandler class CDATA #REQUIRED>

<!--
# Returns the dialog called once a file upload is complete.
-->
<!ELEMENT postuploadhandler EMPTY>
<!ATTLIST postuploadhandler class CDATA #REQUIRED>

<!--
# Using editor handler and editor action classes you can
# modify the behavior of the "edit" action in the OpenCms Workplace.
-->
<!ELEMENT editorhandler EMPTY>
<!ATTLIST editorhandler class CDATA #REQUIRED>

<!ELEMENT editoraction EMPTY>
<!ATTLIST editoraction class CDATA #REQUIRED>

<!--
# The editor css handler classes.
# Classes handling the CSS stylesheet assignment for edited files.
# The specified class must implement the org.opencms.workplace.editors.I_CmsEditorCssHandler interface.
-->
<!ELEMENT editorcsshandlers (editorcsshandler+)>
<!ELEMENT editorcsshandler EMPTY>
<!ATTLIST editorcsshandler class CDATA #REQUIRED>

<!--
# The pre editor condition definition classes.
# For each resource type (identified by the resource type name), a precondition can be executed before the editor is opened.
# The specified class must implement the org.opencms.workplace.editors.I_CmsPreEditorActionDefinition interface.
-->
<!ELEMENT editorpreconditions (editorprecondition+)>
<!ELEMENT editorprecondition (param*)>
<!ATTLIST editorprecondition name CDATA #REQUIRED class CDATA #REQUIRED>

<!ELEMENT param (#PCDATA)>
<!ATTLIST param name CDATA #REQUIRED>

<!ELEMENT directeditprovider (param*)>
<!ATTLIST directeditprovider class CDATA #REQUIRED>

<!--
# An export point is a folder inside the OpenCms VFS that is copied 1:1 to a
# location in the real file system during publishing. This is for example used to
# copy Java classes, JAR files or other system resouces from the VFS to the WEB-INF/classes or
# WEB-INF/lib folder. No link processing is done for resources written with export points.
-->
<!ELEMENT exportpoints (exportpoint+)>
<!ELEMENT exportpoint EMPTY>
<!ATTLIST exportpoint uri CDATA #REQUIRED destination CDATA #REQUIRED>

<!--
# Optional workflow settings.
# The showmessages tag either contains "true" or "false" to add the workflow messages in the
# workflow mails or not. Default is "false".
-->
<!ELEMENT workflow (showmessages)>
<!ELEMENT showmessages (#PCDATA)>

<!--
# Enables or disables the automatic locking of resources in the explorer view.
# If this is set to "true" (the default) edit operations can be performed
# on a resource that is unlocked, and the resource will be automatically locked
# for the user that performs the operation. If set to "false", an explicit
# locking of the resource is required.
-->
<!ELEMENT autolock (#PCDATA)>


<!--
# Enables or disables automatic unlocking of resources by the Acacia editor.
-->
<!ELEMENT acacia-unlock (#PCDATA)>

<!--
# Enables or disables the auto correction of XML content resources in the editor if the XML Schema Definition has changed.
# If this is set to "true" (the default) the XML content editor corrects automatically the edited content
# without notifying the user. If this is set to "false", the user gets a confirmation dialog before the
# content is adjusted.
-->
<!ELEMENT xmlcontentautocorrection (#PCDATA)>

<!--
# Enables or disables the icons for editing users and groups
# in the user management view. Set this to "false" if you
# administrate groups and users with an external tool.
# The default is "true".
-->
<!ELEMENT enableusermanagement (#PCDATA)>

<!--
# The default properties on structure setting of the OpenCms workplace
# determines if a new property in the customized property dialogs should be written
# to the structure entry of a resource (i.e. a sibling) or to a resource.
# Resource properties are valid for all siblings until they are overwritten by setting
# an individual structure property.
-->
<!ELEMENT defaultpropertiesonstructure (#PCDATA)>

<!--
# The enable advanced property tabs setting of the OpenCms workplace
# enables or disables the possibility to edit both the resource properties
# and the individual structure properties.
# If disabled, either the structure or the resource properties can be edited
# depending on the default properties on structure setting.
-->
<!ELEMENT enableadvancedpropertytabs (#PCDATA)>

<!ELEMENT group-translation EMPTY>
<!ATTLIST group-translation class CDATA #REQUIRED>

<!--
# Limits the size of the files which can be uploaded
# by users to the VFS. Limitation does not apply for members
# of the Administrators group.
# The value is the maximum file size in kilobytes.
# Disable the limitation by setting the value to -1,
# or leaving this node empty.
-->
<!ELEMENT maxfileuploadsize (#PCDATA)>

<!--
# List of labeled folders. If a resource has a sibling in one of these folders,
# a special label icon will be shown in the explorer view on all siblings.
# Use this feature to identify "dangerous" folders (e.g. folders that
# contain material that will be public available after publishing)
# to prevent accidental creation of siblings in this folder to a resource that
# contains sensitive data.
-->
<!ELEMENT labeledfolders (resource*)>

<!--
# The repository folder handler class.
# class: the class of the handler replacing the default implementation
# needs to implement the interface org.opencms.workplace.I_CmsRepositoryFolderHandler
-->
<!ELEMENT repositoryfolder EMPTY>
<!ATTLIST repositoryfolder class CDATA #REQUIRED>

<!--
# name of the decentralized category folder. If not set, "/.categories/ is used.
-->
<!ELEMENT categoryfolder (#PCDATA)>

<!--
# options relating to the presentation of categories in the workplace.
-->
<!ELEMENT categorydisplayoptions EMPTY>
<!-- displayByRepository: Display categories separated by repository in category selection dialogs -->
<!-- displayCollapsed: Open the category selection dialog only showing the top-level categories -->
<!ATTLIST categorydisplayoptions
    displayByRepository (true|false) "false"
    displayCollapsed (true|false) "false"
>

<!--
# Rfs file view settings:
# This corresponds to the bean class: org.opencms.util.CmsRfsFileView.
# The effect of these settings may be seen in OpenCms at:
# new Administration -> workplace-tools -> logfile.
-->
<!ELEMENT rfsfileviewsettings (
    rootPath?,
    filePath?,
    enabled?,
    fileEncoding?,
    isLogfile?,
    windowSize?)>

<!--
# This element should be non-existant in new files during initialisation.
# It is an absolute path to a folder used to restrict the allowed files.
# If the element is not available, all files are restricted to the logs folder.
-->
<!ELEMENT rootPath (#PCDATA)>

<!--
# This element should be non-existant in new files during initialisation.
# It is an absolute path to a file that will be shown.
-->
<!ELEMENT filePath (#PCDATA)>

<!--
# Boolean value ("true"|"false") that enables/disables preview of file content.
-->
<!ELEMENT enabled (#PCDATA)>

<!--
# One of the charset.name() the local machine's java VM would return by:
# Charset.availableCharsets().values() for each charset of that Set.
# It depends on the java vendor / Operating System which values are valid but
# at least the "Standard Charsets" mentioned in the java API doc for class
# java.nio.Charset have to be supported everywhere.
-->
<!ELEMENT fileEncoding (#PCDATA)>

<!--
# Currently unused. In future this information may be used
# to display file views  that are marked with isLogfile==true
# in a more convenient way as the format is well known.
-->
<!ELEMENT isLogfile (#PCDATA)>

<!--
# Determines how many lines of text will be previewed.
-->
<!ELEMENT windowSize (#PCDATA)>

<!--
# The defaultaccesscontrol
# describes the default access control settings for all resourcestypes.
-->
<!ELEMENT explorertypes (explorertype+, defaultaccesscontrol)>

<!--
# Enter the default permissions for OpenCms groups.
-->
<!ELEMENT defaultaccesscontrol (accesscontrol)>

<!--
# <importexport> node options.
# In this node the import and export options are configured.
# If you are installing a fresh OpenCms system without migrating
# content from old OpenCms versions, you usually do not need any special
# configuration.
-->
<!ELEMENT importexport (
	importexporthandlers,
	import )>

<!--
# List of import / export handlers.
# When content is imported, the manifest.xml is analyzed and the
# appropriate handler for the import format is selected.
-->
<!ELEMENT importexporthandlers (importexporthandler+)>
<!ELEMENT importexporthandler EMPTY>
<!ATTLIST importexporthandler class CDATA #REQUIRED>

<!--
# <import> node options.
# There are several options to ensure backward compatibility.
-->
<!ELEMENT import (overwrite?, convert?, oldwebappurl?, importversions+, immutables*, principaltranslations*, ignoredproperties*)>

<!--
# If this flag is set to "false" then imports > v2 (that should have resource UUIDs
# in the manifest) will move colliding resources to /system/lost-found/. Otherwise
# colliding resources will be overwritten. v1 and v2 imports (without resource
# UUIDs in the manifest) are forced to overwrite colliding  resources, no matter
# how this flag is set.
-->
<!ELEMENT overwrite (#PCDATA)>

<!--
# This flag controls if editabled content of older versions is automatically
# conterted to the current version upon import. For example, content of type
# "page" from 5.0 is converted into "xmlpage" in 6.0.
-->
<!ELEMENT convert (#PCDATA)>

<!--
# Convert file content from 4.x to 5.x style during import
# This is needed for the correct content conversion of the import.
# Enter the URL of the OpenCms web application from which the content was exported,
# e.g. http://localhost:8080/opencms/opencms/ for a standard local Tomcat installation.
-->
<!ELEMENT oldwebappurl (#PCDATA)>

<!--
# List of import class names.
# This is only required if you must import OpenCms content created with older OpenCms
# versions. The format of the export has changed with new
# OpenCms versions being released. Each export file has a "stamp" in the
# manifest.xml that signals which export version of OpenCms was used.
# In order to import resources from older installations, you must enabled
# the corrospondig classes in this configuration node.
-->
<!ELEMENT importversions (importversion+)>
<!ELEMENT importversion EMPTY>
<!ATTLIST importversion class CDATA #REQUIRED>

<!--
# Import immutable resources:
# Certain system resources should usually not be changed and be "immutable"
# during an import. This is especially true for the main folders in the /system/
# directory as locking and changing these will take very long during the import.
# Changes to these folders usually happen only accidentally and so should not be imported
# to another system.
-->
<!ELEMENT immutables (resource*)>

<!--
# Import principal (ie. user/group) name translation:
# In case the user names in the import differ from the user names configured
# in the importing system, you can use this feature to translate the names from the
# import to other names in your system.
-->
<!ELEMENT principaltranslations (principaltranslation*)>
<!ELEMENT principaltranslation EMPTY>
<!ATTLIST principaltranslation type (USER|user|GROUP|group) #REQUIRED from CDATA #REQUIRED to CDATA #REQUIRED>

<!--
# List of properties which are ignored (ie. not imported) when resources are imported.
-->
<!ELEMENT ignoredproperties (ignoredproperty*)>
<!ELEMENT ignoredproperty EMPTY>
<!ATTLIST ignoredproperty name CDATA #REQUIRED>

<!--
# The default user preferences of the OpenCms workplace contains the default data
# for the user workplace preferences. The xml data is sub-divided into four major nodes,
# representing the different tabs in the preferences screen in the workplace.
# The node for start setting of the galleries is optional.
-->
<!ELEMENT default-preferences (workplace-preferences?,
				explorer-preferences?,
				dialogs-preferences?,
				editors-preferences?,
				galleries-preferences?,
				workflow-preferences?, preference-tab*)>


<!ELEMENT preference-tab (preference*)>
<!ATTLIST preference-tab name (basic|extended|hidden) #REQUIRED>

<!ELEMENT preference EMPTY>
<!ATTLIST preference 	name CDATA #REQUIRED
						value CDATA #IMPLIED
						widget CDATA #IMPLIED
						widget-config CDATA #IMPLIED
						nice-name CDATA #IMPLIED
						description CDATA #IMPLIED
						rule-regex CDATA #IMPLIED
						error CDATA #IMPLIED
>

<!--
# The workplace preferences define the preferences of the workplace itself.
-->
<!ELEMENT workplace-preferences (workplace-generaloptions,
								 workplace-startupsettings,
								 workplace-search?)>

<!--
# The workplace generaloptions describes the general settings for the workplace.
-->
<!ELEMENT workplace-generaloptions (buttonstyle,
									reporttype,
									uploadapplet,
									publishbuttonappearance?,
									listallprojects?,
									publishnotification?,
									show-fileuploadbutton?,
									allowbrokenrelations?,
									publishrelatedresources?,
									newfolder-editproperties?,
									newfolder-createindexpage?,
									show-uploadtypedialog?,
									subsitemap-creation-mode?)>
<!--
# The buttonstyle controls the appearence of the buttons on the workplace.
# Possible values are [image|textimage|text].
-->
<!ELEMENT buttonstyle (#PCDATA)>

<!--
# By setting this element, the default for all repoets (e.g. publishing, importing) can be
# set. Possible values are [simple|extended].
-->
<!ELEMENT reporttype (#PCDATA)>

<!--
# By setting this element, the file upload variant can be choosen
# Possible values are [basic|gwt]
#
# basic:  use the default html upload
# gwt:    use the gwt based upload
-->
<!ELEMENT uploadapplet (#PCDATA)>

<!--
# This element controls the appearance of the "publish project" button in the workplace button bar.
# Possible values are [always|auto|never].
# - always (default) means that the button is always shown, depending on the current users permissions active or inactive.
# - auto: the button is only available if the current user has permissions to publish the current project.
# - never: the button is never shown.
-->
<!ELEMENT publishbuttonappearance (#PCDATA)>

<!--
# If this element is set to "true", the publish notification popup will be shown in the
# workplace explorer after publishing. This setting can be changed in the preferences dialog.
-->
<!ELEMENT publishnotification (#PCDATA)>

<!--
# If this element is set to "true", the project list will show all projects.
# This setting can be changed in the preferences dialog.
-->
<!ELEMENT listallprojects (#PCDATA)>

<!--
# If this element is set to "true", the file upload button will be shown in the
# workplace explorer. This is a setting for all users.
-->
<!ELEMENT show-fileuploadbutton (#PCDATA)>

<!--
# If this is set to <code>false</code> only CmsRole#VFS_MANAGERs
# will be able to delete resources that would break the
# relation integrity.<p>
# Default value is <code>true</code>
-->
<!ELEMENT allowbrokenrelations (#PCDATA)>

<!--
# If this is set to <code>force</code> only CmsRole#VFS_MANAGERs
# will be able to publish resources without publishing unpublished
# related resources.<p>
# Other options are <code>true</code> and <code>false</code> to
# set the default state of the checkbox in the publish dialog.<p>
# Default value is <code>true</code>
-->
<!ELEMENT publishrelatedresources (#PCDATA)>

<!ELEMENT newfolder-createindexpage (#PCDATA)>

<!ELEMENT show-uploadtypedialog (#PCDATA)>

<!ELEMENT subsitemap-creation-mode (#PCDATA)>

<!ELEMENT newfolder-editproperties (#PCDATA)>

<!--
# The workplace startupsettings are used to define locale, project and view used directly
# after the login.
-->
<!ELEMENT workplace-startupsettings (locale,
									 project,
									 workplaceview,
									 folder,
									 site,
									 restrictexplorerview)>
<!--
# A locale for the default workplace language (e.g. "en" or "de").
-->
<!ELEMENT locale (#PCDATA)>

<!--
# The name of the start project (e.g. "Online" or "Offline").
-->
<!ELEMENT project (#PCDATA)>

<!--
# The complete URI to the startup view (e.g. /system/workplace/jsp/explorer_fs.html
# for the explorer view).
-->
<!ELEMENT workplaceview (#PCDATA)>

<!--
# The name of the start folder (e.g. "/" for the root folder).
-->
<!ELEMENT folder (#PCDATA)>

<!--
# The name of the start site (e.g. "/" or "/sites/default/").
-->
<!ELEMENT site (#PCDATA)>

<!--
# If this element is set to "true", the workplace explorer view is limited to
# the predefined site and folder of the preferences.
-->
<!ELEMENT restrictexplorerview (#PCDATA)>

<!--
# The workplace search settings are used to define the behaviour of the workplace search for editors.
-->
<!ELEMENT workplace-search (searchindex-name, searchview-style)>
<!--
# The name of the index to use for search, default is the "Offline project (VFS)" index.
-->
<!ELEMENT searchindex-name (#PCDATA)>
<!--
# The view to display first, the admin list view or the explorer view (default).
-->
<!ELEMENT searchview-style (#PCDATA)>

<!--
# The explorer preferences define the preferences workplace explorer.
-->
<!ELEMENT explorer-preferences (explorer-generaloptions,
								explorer-displayoptions)>

<!--
# The explorer generaloptions describes the general layout settings for the explorer.
-->
<!ELEMENT explorer-generaloptions (buttonstyle,
								   entries,entryoptions?)>

<!--
# The number of entries shown on one page of the the explorer filelist.
-->
<!ELEMENT entries (#PCDATA)>

<!--
# The list of numbers in the preferences dialog, how much entries shown on a page.
# The entries must be separated with ','.
-->
<!ELEMENT entryoptions (#PCDATA)>

<!--
# The explorer displayoption define which columns are show nin the explorer fillist.
# Each of the sub elements can either have the values "true" or "false".
-->
<!ELEMENT explorer-displayoptions (show-title,
								   show-navtext?,
								   show-type,
								   show-datelastmodified,
								   show-datecreated,
								   show-lockedby,
								   show-permissions,
								   show-size,
								   show-state,
								   show-userlastmodified,
								   show-usercreated,
								   show-datereleased,
								   show-dateexpired)>
<!ELEMENT show-title (#PCDATA)>
<!ELEMENT show-navtext (#PCDATA)>
<!ELEMENT show-type (#PCDATA)>
<!ELEMENT show-datelastmodified (#PCDATA)>
<!ELEMENT show-datecreated (#PCDATA)>
<!ELEMENT show-lockedby (#PCDATA)>
<!ELEMENT show-permissions (#PCDATA)>
<!ELEMENT show-size (#PCDATA)>
<!ELEMENT show-state (#PCDATA)>
<!ELEMENT show-userlastmodified (#PCDATA)>
<!ELEMENT show-usercreated (#PCDATA)>
<!ELEMENT show-datereleased (#PCDATA)>
<!ELEMENT show-dateexpired (#PCDATA)>

<!--
# The dialogs preferences define the default settings for several workplace dialogs.
-->
<!ELEMENT dialogs-preferences (dialogs-defaultsettings)>
<!ELEMENT dialogs-defaultsettings (filecopy,
								   foldercopy,
								   filedeletion,
								   directpublish,
								   showlock,
								   showexportsettings,
								   expand-permissionsuser,
								   expand-permissionsinherited,
								   permissions-inheritonfolder)>
<!--
# The default setting of the file copy dialog. This dialog displays different options how
# a file should be copied. Possible values are: [createsibling|createresource]
-->
<!ELEMENT filecopy (#PCDATA)>

<!--
# The default setting of the folder copy dialog. This dialog displays different options how
# a folder and its subresources should be copied.
# Possible values are: [createsibling|createresource|preservesiblings]
-->
<!ELEMENT foldercopy (#PCDATA)>

<!--
# The default setting of the file delete dialog. This dialog displays different options how
# siblings of a file should be handled. Possible values are: [deletesiblings|preservesiblings]
-->
<!ELEMENT filedeletion (#PCDATA)>

<!--
# The default setting of the direct publish dialog. This dialog displays different options how
# siblings of a file should be handled. Possible values are: [allsiblings|onlyresource]
-->
<!ELEMENT directpublish (#PCDATA)>

<!--
# If this element is set to "true", the lock dialog is shown on each lock operation.
-->
<!ELEMENT showlock (#PCDATA)>

<!--
# If this element is set to "true", the export part of the secure/export dialog is shown.
-->
<!ELEMENT showexportsettings (#PCDATA)>

<!--
# If this element is set to "true", the permission dialog expands the users permission when opened.
-->
<!ELEMENT expand-permissionsuser (#PCDATA)>

<!--
# If this element is set to "true", the permission dialog expands the inherited permission when opened.
-->
<!ELEMENT expand-permissionsinherited (#PCDATA)>

<!--
# If this element is set to "true", the permission dialog inherits the set permissions per default on folders.
-->
<!ELEMENT permissions-inheritonfolder (#PCDATA)>

<!--
# The editor preferences define the default appareance and seletion of the editors used in the
# system.
-->
<!ELEMENT editors-preferences (editors-generaloptions,
							   editors-preferrededitors)>

<!--
# The explorer generaloptions describes the general layout settings for the editors
-->
<!ELEMENT editors-generaloptions (buttonstyle,
								 directeditstyle)>

<!--
# The directeditstyle controls the appearence of the direct edit button.
# Possible values are [image|textimage|text].
-->
<!ELEMENT directeditstyle (#PCDATA)>

<!--
# Here the default	editors for different resource types in OpenCms are set.
-->
<!ELEMENT editors-preferrededitors (editor*) >

<!--
# The editor element constirs of two attributes:
# type: The resource type in OpenCms (e.g. "plain" or "xmlpage")
# value: The path to the editor or the string "bestavailable"  (e.g. "/system/workplace/jsp/editors/ledit/editor.html")
-->
<!ELEMENT editor EMPTY >
<!ATTLIST editor type CDATA #REQUIRED>
<!ATTLIST editor value CDATA #REQUIRED>

<!--
# The galleries preferences define the default settings of the galleries in OpenCms.
-->
<!ELEMENT galleries-preferences (startgalleries?)>

<!--
# Configuration of the start setting for different gallery types in OpenCms. This settings can be overwritten
# by configuration of the widget.
-->
<!ELEMENT startgalleries (startgallery*)>

<!--
# Startgallery node has two attributes.
# type: The type of the gallery for which the global start setting is applied ("imagegallery",
# "downloadgallery", "linkgallery").
# path: The path to the gallery, which should be opened after login.
-->
<!ELEMENT startgallery EMPTY >
<!ATTLIST startgallery type CDATA #REQUIRED>
<!ATTLIST startgallery path CDATA #REQUIRED>


<!--
# The workflow preferences define the default workflow options.
-->
<!ELEMENT workflow-preferences (workflow-generaloptions,
								workflow-defaultsettings)>

<!--
# The workflow general options define the general workflow options.
-->
<!ELEMENT workflow-generaloptions (startupfilter,
								   showprojects)>
<!--
# The startupfileter sets the default filter which is shown when opening the task view.
# Possible values are: [mynewtasks|mytasksformyroles|alltasks|myactivetasks|
						myactivetasksformyroles|allactivetask|mycompletedtasks|
						mycompletedtasksformyroles|allcompletedtasks|newtaskscreatedbyme|
						activetaskscreatedbyme|completedtaskscreatedbyme]
-->
<!ELEMENT startupfilter (#PCDATA)>

<!--
# Flag to set if tasks of all projects shoudl be shown. Values are [true|false]
-->
<!ELEMENT showprojects (#PCDATA)>

<!--
# The workflow default setting.
# Each of the sub elements can either have the values "true" or "false".
-->
<!ELEMENT workflow-defaultsettings (message-accepted,
								    message-forwarded,
								    message-completed,
								    informrolemembers
								   )>

<!ELEMENT message-accepted (#PCDATA)>
<!ELEMENT message-forwarded (#PCDATA)>
<!ELEMENT message-completed (#PCDATA)>
<!ELEMENT informrolemembers (#PCDATA)>

<!ELEMENT user-lists EMPTY>
<!ATTLIST user-lists mode CDATA #REQUIRED>

<!ELEMENT keep-alive (#PCDATA)>

<!--
# Configure additional folders in addition to WEB-INF/logs from which log files can be viewed in the log file viewer.
-->
<!ELEMENT additional-log-folders (log-folder*)>
<!ELEMENT log-folder (#PCDATA)>

<!--
# The default search scope for gallery dialogs. Values allowed: [everything|shared|site|siteShared|subSite|subSiteShared]
-->
<!ELEMENT gallery-default-scope (#PCDATA)>

<!--
# The element delete mode sets the behavior of the element remove dialog in the container page editor. Values allowed: [alwaysDelete|alwaysKeep|askDelete|askKeep]
-->
<!ELEMENT element-delete-mode (#PCDATA)>

<!-- 
# The value for the 'use formatter keys' option in sitemap configurations created by the sitemap editor.
-->
<!ELEMENT use-formatter-keys-for-new-sites (#PCDATA)>

<!ELEMENT upload-restriction (param*)>
<!ATTLIST upload-restriction class CDATA #REQUIRED>

<!ELEMENT virus-scanner (param*)>
<!ATTLIST virus-scanner class CDATA #IMPLIED enabled CDATA #IMPLIED>

<!-- 
# Element containing the role necessary to edit sitemap configurations
-->
<!ELEMENT sitemap-config-edit-role (#PCDATA)>

<!-- 
# Boolean flag (true/false) which allows element authors to upload in galleries and gives some additional permissions in gallery context menus if set.
-->
<!ELEMENT allow-element-author-to-work-in-galleries (#PCDATA)>

<!--
# Include the explorer types DTD.
-->
<!ENTITY % opencms-explorertypes SYSTEM "http://www.opencms.org/dtd/6.0/opencms-explorertypes.dtd">
%opencms-explorertypes;