src/org/opencms/configuration/opencms-workplace.dtd

<!-- 
# The root configuration node is called <opencms> for all OpenCms configurations.
-->
<!ELEMENT opencms (workplace)>

<!--
# <workplace> configuration:
#
# The workplace configuration contains options required for the "back office" 
# part of OpenCms.
-->
<!ELEMENT workplace (
	defaultlocale,
	localizedfolders,
	dialoghandlers, 
	editorhandler, 
	editoraction, 
	exportpoints, 
	autolock?, 
	enableusermanagement?, 
	defaultpropertiesonstructure,
	enableadvancedpropertytabs,
	maxfileuploadsize?, 
	labeledfolders?,
	explorertypes+,
	default-preferences )>

<!--
# The default locale of the OpenCms workplace that is selected if a user
# log into the workplace for the first time, of if his current selection 
# is invalid. User can change this setting individually with the preference dialog.
-->
<!ELEMENT defaultlocale (#PCDATA)>

<!--
# The worplace localized folders control if the workplace locale handler is used
# for a configured folder.
-->
<!ELEMENT localizedfolders (resource*)>
<!ELEMENT resource EMPTY>
<!ATTLIST resource uri CDATA #REQUIRED>

<!--
# The worklace dialog handlers allow extending / changing the default
# Workplace dialogs with another, customized implementation.
# For example, if your application requires a lot of special properties,
# you can implement your own property dialog handler that contains only
# the properties required by your application in a more user friendly form.
-->
<!ELEMENT dialoghandlers (dialoghandler+)>
<!ELEMENT dialoghandler EMPTY>
<!ATTLIST dialoghandler class CDATA #REQUIRED>

<!--
# Using editor handler and editor action classes you can
# modify the behaviour of the "edit" action in the OpenCms Workplace.
-->
<!ELEMENT editorhandler EMPTY>
<!ATTLIST editorhandler class CDATA #REQUIRED>

<!ELEMENT editoraction EMPTY>
<!ATTLIST editoraction class CDATA #REQUIRED>

<!--
# An export point is a folder inside the OpenCms VFS that is copied 1:1 to a 
# location in the real file system during publishing. This is for example used to 
# copy Java classes, JAR files or other system resouces from the VFS to the WEB-INF/classes or 
# WEB-INF/lib folder. No link processing is done for resources written with export points. 
-->
<!ELEMENT exportpoints (exportpoint+)>
<!ELEMENT exportpoint EMPTY>
<!ATTLIST exportpoint uri CDATA #REQUIRED destination CDATA #REQUIRED>

<!--
# Enables or disables the automatic locking of resources in the explorer view.
# If this is set to "true" (the default) edit operations can be performed
# on a resource that is unlocked, and the resource will be automatically locked
# for the user that performs the operation. If set to "false", an explicit
# locking of the resource is required.
-->
<!ELEMENT autolock (#PCDATA)>

<!--
# Enables or disables the icons for editing users and groups 
# in the user management view. Set this to "false" if you
# administrate groups and users with an external tool.
# The default is "true".
-->
<!ELEMENT enableusermanagement (#PCDATA)>

<!--
# The default properties on structure setting of the OpenCms workplace 
# determines if a new property in the customized property dialogs should be written
# to the structure entry of a resource (i.e. a sibling) or to a resource.
# Resource properties are valid for all siblings until they are overwritten by setting
# an individual structure property.
-->
<!ELEMENT defaultpropertiesonstructure (#PCDATA)>

<!--
# The enable advanced property tabs setting of the OpenCms workplace 
# enables or disables the possibility to edit both the resource properties
# and the individual structure properties.
# If disabled, either the structure or the resource properties can be edited 
# depending on the default properties on structure setting.
-->
<!ELEMENT enableadvancedpropertytabs (#PCDATA)>

<!--
# Limits the size of the files which can be uploaded
# by users to the VFS. Limitation does not apply for members
# of the Administrators group.
# The value is the maximum file size in kilobytes.
# Disable the limitation by setting the value to -1, 
# or leaving this node empty.
-->
<!ELEMENT maxfileuploadsize (#PCDATA)>

<!--
# List of labeled folders. If a resource has a sibling in one of these folders,
# a special label icon will be shown in the explorer view on all siblings.
# Use this feature to identify "dangerous" folders (e.g. folders that 
# contain material that will be public available after publishing) 
# to prevent accidental creation of siblings in this folder to a resource that 
# contains sensitive data.
-->
<!ELEMENT labeledfolders (resource*)>

<!--
# Settings for the new resource dialog and the contextmenus in the explorer view.
# Configure which options are shown in the new resource dialog and if resources are 
# visible and editable depending on the current users group(s). The defaultaccesscontrol
# describes the default access control settings for all resourcestypes
-->
<!ELEMENT explorertypes (explorertype+, defaultaccesscontrol)>

<!--
# The resource type name, the key of the localized name and the used icon are required.
-->
<!ELEMENT explorertype (
	newresource,
	accesscontrol?,
	editoptions?)>
<!ATTLIST explorertype name CDATA #REQUIRED key CDATA #REQUIRED icon CDATA #REQUIRED reference CDATA #IMPLIED>

<!--
# The URI for the new resource dialog and the ranking is required.
-->
<!ELEMENT newresource EMPTY>
<!ATTLIST newresource page CDATA #IMPLIED uri CDATA #REQUIRED order CDATA #REQUIRED>

<!--
# Enter the permissions for OpenCms groups. The flags have the following meaning:
# +w: the context menu for editing the resource is shown
# +c: this entry is shown in the new resource dialog for this group
# +v: resources of the current type are visible in the explorer view
-->
<!ELEMENT accesscontrol (accessentry*)>
<!ELEMENT accessentry EMPTY>
<!ATTLIST accessentry principal CDATA #REQUIRED permissions CDATA #REQUIRED>

<!--
# The edit options of the current explorer type. 
# Don't specify them for the file upload and new link types.
-->
<!ELEMENT editoptions (
	defaultproperties,
	contextmenu)>

<!--
# Enter the default permissions for OpenCms groups. 
-->
<!ELEMENT defaultaccesscontrol (accesscontrol)>



<!--
# Define here the properties which can be edited in the new resource dialog.
# If the enabled attribute is false, the special property dialog will not be used.
# If the shownavigation attribute is true, navigation properties can be editied in the special property dialog.
-->
<!ELEMENT defaultproperties (property*)>
<!ATTLIST defaultproperties 
    enabled (true|false|TRUE|FALSE) #REQUIRED
	shownavigation (true|false|TRUE|FALSE) #IMPLIED>

<!--
# This defines the context menu appearance of the current explorer type.
# A list of entry and separator nodes is needed here.
# An entry node needs the following attributes:
# key: the name for the localized key of the menu entry.
# uri: the OpenCms VFS URI of the dialog.
#
# rules:	The display rules for the current menu entry. 
#			The rule characters have been separated by spaces for better readability.
#
#			Example: "d d iiii aaai dddd"
#					  1 2    3    4    5 
# 
# 			Each rule is separated into 5 blocks (see above).
#           A block describes a resource condition in the context 
#           of the current user:
#
#			1: Appearance in the "Online" project
#			2: Appearance if the resource is not part of the current offline project
#			3: Appearance if the resource is unlocked
#			4: Appearance if the resource is exclusively locked by the current user in the current project	
#			5: Appearance for all other lock states (locked by other user, locked in other project, shared lock, etc.)
#
#			The meaning of the parameter characters is: 
#           d = deactivated (invisible), i = inactive, a = active
#
#           Blocks 1 and 2 require only one parameter since a resource 
#           does not have a state if it is not part of the current project.
#
#           Blocks 3, 4 and 5 require four parameters. The parameters control the appearance
#           of the context menu entry if the resource is in one of the 4 possible states:
#			1 = unchanged, 2 = changed, 3 = new, 4 = deleted
#           This is e.g. required to show the "undelete" option on the 
#           menu only if the resource is deleted. 
#
# order: the order of the entry (display position in the menu).
# isxml: optional, if the URI leads to a legacy XMLTemplate based dialog, set this attribute to true.
# A separator node only needs the order attribute to be displayed properly.
-->
<!ELEMENT contextmenu (
	entry*,
	separator*)*>
	
<!ELEMENT entry EMPTY>
<!ATTLIST entry 
	key CDATA #REQUIRED 
	uri CDATA #REQUIRED 
	rules CDATA #REQUIRED 
	order CDATA #REQUIRED 
	target CDATA #IMPLIED
	isxml (true|false|TRUE|FALSE) #IMPLIED>
	
<!ELEMENT separator EMPTY>
<!ATTLIST separator order CDATA #REQUIRED>

<!--
# <importexport> node options.
# In this node the import and export options are configured.
# If you are installing a fresh OpenCms system without migrating
# content from old OpenCms versions, you usually do not need any special 
# configuration. 
-->
<!ELEMENT importexport (
	importexporthandlers, 
	import )>

<!--
# List of import / export handlers.
# When content is imported, the manifest.xml is analyzed and the 
# appropriate handler for the import format is selected. 
-->
<!ELEMENT importexporthandlers (importexporthandler+)>
<!ELEMENT importexporthandler EMPTY>
<!ATTLIST importexporthandler class CDATA #REQUIRED>

<!-- 
# <import> node options.
# There are several options to ensure backward compatibility.
-->
<!ELEMENT import (overwrite?, convert?, oldwebappurl?, importversions+, immutables*, principaltranslations*, ignoredproperties*)>

<!--
# If this flag is set to "false" then imports > v2 (that should have resource UUIDs
# in the manifest) will move colliding resources to /system/lost-found/. Otherwise
# colliding resources will be overwritten. v1 and v2 imports (without resource 
# UUIDs in the manifest) are forced to overwrite colliding  resources, no matter 
# how this flag is set.
-->
<!ELEMENT overwrite (#PCDATA)>

<!--
# This flag controls if editabled content of older versions is automatically
# conterted to the current version upon import. For example, content of type 
# "page" from 5.0 is converted into "xmlpage" in 6.0.
-->
<!ELEMENT convert (#PCDATA)>

<!--
# Convert file content from 4.x to 5.x style during import
# This is needed for the correct content conversion of the import.
# Enter the URL of the OpenCms web application from which the content was exported,
# e.g. http://localhost:8080/opencms/opencms/ for a standard local Tomcat installation.
-->
<!ELEMENT oldwebappurl (#PCDATA)>

<!--
# List of import class names. 
# This is only required if you must import OpenCms content created with older OpenCms 
# versions. The format of the export has changed with new 
# OpenCms versions being released. Each export file has a "stamp" in the 
# manifest.xml that signals which export version of OpenCms was used.
# In order to import resources from older installations, you must enabled
# the corrospondig classes in this configuration node.
-->
<!ELEMENT importversions (importversion+)>
<!ELEMENT importversion EMPTY>
<!ATTLIST importversion class CDATA #REQUIRED>

<!--
# Import immutable resources:
# Certain system resources should usually not be changed and be "immutable" 
# during an import. This is especially true for the main folders in the /system/ 
# directory as locking and changing these will take very long during the import.
# Changes to these folders usually happen only accidentally and so should not be imported
# to another system.
-->
<!ELEMENT immutables (resource*)>

<!--
# Import principal (ie. user/group) name translation:
# In case the user names in the import differ from the user names configured 
# in the importing system, you can use this feature to translate the names from the 
# import to other names in your system.
-->
<!ELEMENT principaltranslations (principaltranslation*)>
<!ELEMENT principaltranslation EMPTY>
<!ATTLIST principaltranslation type (USER|user|GROUP|group) #REQUIRED from CDATA #REQUIRED to CDATA #REQUIRED>

<!--
# List of properties which are ignored (ie. not imported) when resources are imported. 
-->
<!ELEMENT ignoredproperties (property*)>
<!ELEMENT property EMPTY>
<!ATTLIST property name CDATA #REQUIRED>

<!--
# The default user preferences of the OpenCms workplace contains the default data 
# for the user workplace preferences. The xml data is subdifeded into five major knots,
# representing the different tabs in the preferences screen in the workplace.
-->
<!ELEMENT default-preferences (workplace-preferences,
				explorer-preferences,
				dialogs-preferences,
				editors-preferences,
				workflow-preferences)>

<!--
# The workplace preferences define the preferences of the workplace itself.
-->
<!ELEMENT workplace-preferences (workplace-generaloptions,
								 workplace-startupsettings)>

<!--
# The workplace generaloptions describes the general settings for the workplace.
-->								 
<!ELEMENT workplace-generaloptions (buttonstyle,
									reporttype,
									uploadapplet)>
<!--
# The buttonstyle controls the appearence of the buttons on the workplace.
# Possible values are [image|textimage|text].
-->										
<!ELEMENT buttonstyle (#PCDATA)>

<!--
# By setting this element, the default for all repoets (e.g. publishing, importing) can be 
# set. Possible values are [simple|extended].
-->										
<!ELEMENT reporttype (#PCDATA)>

<!--
# If this element is set to "true", the upload applet is used for file uploads in the 
# workplace explorer.
-->	
<!ELEMENT uploadapplet (#PCDATA)>									
	
<!--
# The workplace startupsettings are used to define locale, project and view used directly
# after the login.
-->										
<!ELEMENT workplace-startupsettings (locale,
									 project,
									 workplaceview,
									 folder,
									 site,
									 restrictexplorerview)>
<!--
# A locale for the default workplace language (e.g. "en" or "de").
-->	
<!ELEMENT locale (#PCDATA)>	

<!--
# The name of the start project (e.g. "Online" or "Offline").
-->									
<!ELEMENT project (#PCDATA)>

<!--
# The complete URI to the startup view (e.g. /system/workplace/jsp/explorer_fs.html
# for the explorer view).
-->	
<!ELEMENT workplaceview (#PCDATA)>	

<!--
# The name of the start folder (e.g. "/" for the root folder).
-->									
<!ELEMENT folder (#PCDATA)>

<!--
# The name of the start site (e.g. "/" or "/sites/default/").
-->									
<!ELEMENT site (#PCDATA)>

<!--
# If this element is set to "true", the workplace explorer view is limited to
# the predefined site and folder of the preferences.
-->									
<!ELEMENT restrictexplorerview (#PCDATA)>								 
						
<!--
# The explorer preferences define the preferences workplace explorer.
-->						
<!ELEMENT explorer-preferences (explorer-generaloptions,
								explorer-displayoptions)>	
								
<!--
# The explorer generaloptions describes the general layout settings for the explorer.
-->										
<!ELEMENT explorer-generaloptions (buttonstyle,
								   entries)>
								   
<!--
# The number of entries shown on one page of the the explorer filelist.
-->									   
<!ELEMENT entries (#PCDATA)>	

<!--
# The explorer displayoption define which columns are show nin the explorer fillist.
# Each of the sub elements can either have the values "true" or "false".
-->	
<!ELEMENT explorer-displayoptions (show-title,
								   show-type,
								   show-datelastmodified,
								   show-datecreated,
								   show-lockedby,
								   show-permissions,
								   show-size,
								   show-state,
								   show-userlastmodified,
								   show-usercreated,
								   show-datereleased,
								   show-dateexpired)>																		
<!ELEMENT show-title (#PCDATA)>	
<!ELEMENT show-type (#PCDATA)>	
<!ELEMENT show-datelastmodified (#PCDATA)>	
<!ELEMENT show-datecreated (#PCDATA)>	
<!ELEMENT show-lockedby (#PCDATA)>	
<!ELEMENT show-permissions (#PCDATA)>	
<!ELEMENT show-size (#PCDATA)>	
<!ELEMENT show-state (#PCDATA)>	
<!ELEMENT show-userlastmodified (#PCDATA)>	
<!ELEMENT show-usercreated (#PCDATA)>
<!ELEMENT show-datereleased (#PCDATA)>
<!ELEMENT show-dateexpired (#PCDATA)>

<!--
# The dialogs preferences define the default settings for several workplace dialogs.
-->	
<!ELEMENT dialogs-preferences (dialogs-defaultsettings)>
<!ELEMENT dialogs-defaultsettings (filecopy,
								   foldercopy,
								   filedeletion,
								   directpublish,
								   showlock,
								   expand-permissionsuser,
								   expand-permissionsinherited,
								   permissions-inheritonfolder)>
<!--
# The default setting of the file copy dialog. This dialog displays different options how
# a file should be copied. Possible values are: [createsibling|createresource]
-->									   
<!ELEMENT filecopy (#PCDATA)>		

<!--
# The default setting of the folder copy dialog. This dialog displays different options how
# a folder and its subresources should be copied. 
# Possible values are: [createsibling|createresource|preservesiblings]
-->									 
<!ELEMENT foldercopy (#PCDATA)>	

<!--
# The default setting of the file delete dialog. This dialog displays different options how
# siblings of a file should be handled. Possible values are: [deletesiblings|preservesiblings]
-->	
<!ELEMENT filedeletion (#PCDATA)>	

<!--
# The default setting of the direct publish dialog. This dialog displays different options how
# siblings of a file should be handled. Possible values are: [allsiblings|onlyresource]
-->	
<!ELEMENT directpublish (#PCDATA)>	

<!--
# If this element is set to "true", the lock dialog is shown on each lock operation.
-->	
<!ELEMENT showlock (#PCDATA)>

<!--
# If this element is set to "true", the permission dialog expands the users permission when opened.
-->	
<!ELEMENT expand-permissionsuser (#PCDATA)>

<!--
# If this element is set to "true", the permission dialog expands the inherited permission when opened.
-->	
<!ELEMENT expand-permissionsinherited (#PCDATA)>

<!--
# If this element is set to "true", the permission dialog inherits the set permissions per default on folders.
-->	
<!ELEMENT permissions-inheritonfolder (#PCDATA)>

<!--
# The editor preferences define the default appareance and seletion of the editors used in the
# system.
-->	
<!ELEMENT editors-preferences (editors-generaloptions,
							   editors-preferrededitors)>

<!--
# The explorer generaloptions describes the general layout settings for the editors
-->								   
<!ELEMENT editors-generaloptions (buttonstyle,
								 directeditstyle)>	
								 
<!--
# The directeditstyle controls the appearence of the direct edit button.
# Possible values are [image|textimage|text].
-->									 
<!ELEMENT directeditstyle (#PCDATA)>	

<!-- 
# Here the default	editors for different resource types in OpenCms are set.
-->	
<!ELEMENT editors-preferrededitors (editor*) >	

<!-- 
# The editor element constirs of two attributes:
# type: The resource type in OpenCms (e.g. "plain" or "xmlpage")
# value: The path to the editor or the string "bestavailable"  (e.g. "/system/workplace/jsp/editors/ledit/editor.html")
-->		
<!ELEMENT editor EMPTY >	
<!ATTLIST editor type CDATA #REQUIRED>
<!ATTLIST editor value CDATA #REQUIRED>	

<!--
# The workflow preferences define the default workflow options.
-->		
<!ELEMENT workflow-preferences (workflow-generaloptions,
								workflow-defaultsettings)>

<!--
# The workflow general options define the general workflow options.
-->	
<!ELEMENT workflow-generaloptions (startupfilter,
								   showprojects)>	
<!--
# The startupfileter sets the default filter which is shown when opening the task view.
# Possible values are: [mynewtasks|mytasksformyroles|alltasks|myactivetasks|
						myactivetasksformyroles|allactivetask|mycompletedtasks|
						mycompletedtasksformyroles|allcompletedtasks|newtaskscreatedbyme|
						activetaskscreatedbyme|completedtaskscreatedbyme]
-->	
<!ELEMENT startupfilter (#PCDATA)>	

<!--
# Flag to set if tasks of all projects shoudl be shown. Values are [true|false]
-->
<!ELEMENT showprojects (#PCDATA)>	

<!--
# The workflow default setting. 
# Each of the sub elements can either have the values "true" or "false".
-->		
<!ELEMENT workflow-defaultsettings (message-accepted,
								    message-forwarded,
								    message-completed,
								    informrolemembers
								   )>								   

<!ELEMENT message-accepted (#PCDATA)>	
<!ELEMENT message-forwarded (#PCDATA)>	
<!ELEMENT message-completed (#PCDATA)>	
<!ELEMENT informrolemembers (#PCDATA)>	
