src/org/opencms/configuration/opencms-configuration.dtd

<!-- 

The root configuration node is calles "opencms".

-->
<!ELEMENT opencms (configuration, tests, vfs)>



<!--

Individual configuration nodes are added in the "configuration" subnode.

-->
<!ELEMENT configuration (config+)>
<!ELEMENT config EMPTY>
<!ATTLIST config class CDATA #REQUIRED>


<!-- 

Parameters can be passed to various configuration objects.

-->
<!ELEMENT param (#PCDATA)>
<!ATTLIST param name CDATA #REQUIRED>


<!-- 

Test node configuration.

-->
<!ELEMENT tests (test*)>
<!ELEMENT test (#PCDATA)>
<!ATTLIST test name CDATA #REQUIRED>


<!--

VFS node configuration.

-->
<!ELEMENT vfs (resourceloaders, resourcetypes)>

<!ELEMENT resourceloaders (loader+)>
<!ELEMENT loader (param*)>
<!ATTLIST loader class CDATA #REQUIRED>

<!ELEMENT resourcetypes (type+)>
<!ELEMENT type (param*)>
<!ATTLIST type class CDATA #REQUIRED>

