modules/org.opencms.jsp.search/resources/system/modules/org.opencms.jsp.search/schemas/nested/highlighting.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>

	<xsd:element name="HighlightingConfigs" type="OpenCmsHighlightingConfigs"/>

	<xsd:complexType name="OpenCmsHighlightingConfigs">
		<xsd:sequence>
			<xsd:element name="HighlightingConfig" type="OpenCmsHighlightingConfig" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsHighlightingConfig">
		<xsd:sequence>
			<xsd:element name="Field" type="OpenCmsString" />
			<xsd:element name="Snippets" type="OpenCmsString" minOccurs="0" />
			<xsd:element name="FragSize" type="OpenCmsString" minOccurs="0" />
			<xsd:element name="AlternateField" type="OpenCmsString" minOccurs="0" />
			<xsd:element name="MaxAlternateFieldLength" type="OpenCmsString" minOccurs="0" />
			<xsd:element name="SimplePre" type="OpenCmsString" minOccurs="0" />
			<xsd:element name="SimplePost" type="OpenCmsString" minOccurs="0" />
			<xsd:element name="Formatter" type="OpenCmsString" minOccurs="0" />
			<xsd:element name="Fragmenter" type="OpenCmsString" minOccurs="0" />
			<xsd:element name="UseFastVectorHighlighting" type="OpenCmsBoolean" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="optional"/>
	</xsd:complexType>
	
	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundle name="org.opencms.jsp.search.jsp-search-form-schema" />
			<searchsettings>
				<searchsetting element="Field" searchcontent="false" />
				<searchsetting element="Snippets" searchcontent="false" />
				<searchsetting element="FragSize" searchcontent="false" />
				<searchsetting element="AlternateField" searchcontent="false" />
				<searchsetting element="MaxAlternateFieldLength" searchcontent="false" />
				<searchsetting element="SimplePre" searchcontent="false" />
				<searchsetting element="SimplePost" searchcontent="false" />
				<searchsetting element="Formatter" searchcontent="false" />
				<searchsetting element="Fragmenter" searchcontent="false" />
				<searchsetting element="UseFastVectorHighlighting" searchcontent="false" />
			</searchsettings>
			<validationrules>
				<rule element="Field" regex=".+" type="error" message="%(key.error.highlighting.field)" />
			</validationrules>
		</xsd:appinfo>
	</xsd:annotation>

</xsd:schema>