test/data/imports/solrtest/system/modules/org.opencms.ade.config/schemas/module_type.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/folder_choice.xsd" />
 
    <xsd:element name="ModuleTypes" type="OpenCmsModuleTypes" />
    
    <xsd:complexType name="OpenCmsModuleTypes">
        <xsd:sequence>
            <xsd:element name="ModuleType" type="OpenCmsModuleType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="OpenCmsModuleType">
        <xsd:sequence>    
	        <xsd:element name="TypeName" type="OpenCmsString" minOccurs="1" maxOccurs="1" />       
	        <xsd:element name="Folder" type="OpenCmsADEFolderChoice" minOccurs="0" maxOccurs="1" />
	        <xsd:element name="NamePattern" type="OpenCmsString" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
        <xsd:attribute name="language" type="OpenCmsLocale" use="optional" />
    </xsd:complexType>
    
    <xsd:annotation>
        <xsd:appinfo>
			<resourcebundle name="org.opencms.xml.containerpage.messages"/>
	        <layouts/>
        </xsd:appinfo>
    </xsd:annotation>
</xsd:schema>
