src/org/opencms/xml/containerpage/group_container.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
	<xsd:include schemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/group_container_element.xsd"/>
		
	<xsd:element name="AlkaconGroupContainers" type="OpenCmsAlkaconGroupContainers"/>
	
	<xsd:complexType name="OpenCmsAlkaconGroupContainers">
		<xsd:sequence>
			<xsd:element name="AlkaconGroupContainer" type="OpenCmsAlkaconGroupContainer" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsAlkaconGroupContainer">
		<xsd:sequence>
			<xsd:element name="GroupContainers" type="OpenCmsAlkaconGroupContainerElement" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="optional"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<handler class="org.opencms.xml.containerpage.CmsXmlGroupContainerHandler"/>
			<resourcebundle name="org.opencms.xml.containerpage.messages"/>
			<mappings>
				<mapping element="GroupContainers/Title" mapto="property:Title" />
				<mapping element="GroupContainers/Description" mapto="property:Description" />
			</mappings>
			<formatters>
				<formatter uri="/system/modules/org.opencms.ade.containerpage/formatters/group-container.jsp" type="*" preview="true" searchcontent="false" />
			</formatters>
		</xsd:appinfo>

	</xsd:annotation>  
</xsd:schema>