src/org/opencms/xml/containerpage/inheritance_group.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
	<xsd:include schemaLocation="opencms://system/modules/org.opencms.ade.containerpage/schemas/container_element_property.xsd"/>
		
	<xsd:element name="AlkaconInheritRefs" type="OpenCmsAlkaconInheritRefs"/>
	
	<xsd:complexType name="OpenCmsAlkaconInheritRefs">
		<xsd:sequence>
			<xsd:element name="AlkaconInheritRef" type="OpenCmsAlkaconInheritRef" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsAlkaconInheritRef">
		<xsd:sequence>
			<xsd:element name="Title" type="OpenCmsString" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Description" type="OpenCmsString" minOccurs="1" maxOccurs="1" />
			<xsd:element name="ConfigName" type="OpenCmsString" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="optional"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<handler class="org.opencms.xml.containerpage.CmsXmlInheritGroupContainerHandler"/>
			<mappings>
				<mapping element="Title" mapto="property:Title" />
				<mapping element="Description" mapto="property:Description" />
				<mapping element="ConfigName" mapto="property:Keywords" />
			</mappings>
			<formatters>
				<formatter uri="/system/modules/org.opencms.ade.containerpage/formatters/group-container.jsp" type="*" preview="true" searchcontent="false" />
			</formatters>
		</xsd:appinfo>
	</xsd:annotation>  
</xsd:schema>