src/org/opencms/xml/content/DefaultAppinfo.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:include schemaLocation="http://www.opencms.org/dtd/6.0/org/opencms/xml/content/DefaultAppinfoTypes.xsd"/>	
	<xsd:element name="appinfo" type="OpenCmsDefaultAppinfo" />

	<xsd:complexType name="OpenCmsDefaultAppinfo">
		<xsd:all>
			<xsd:element name="handler" type="OpenCmsDefaultAppinfoHandler" minOccurs="0" />
			<xsd:element name="resourcebundle" type="OpenCmsDefaultAppinfoResourcebundle" minOccurs="0" />
			<xsd:element name="preview" type="OpenCmsDefaultAppinfoPreview" minOccurs="0" />
			<xsd:element name="defaults" type="OpenCmsDefaultAppinfoDefaults" minOccurs="0" />
			<xsd:element name="mappings" type="OpenCmsDefaultAppinfoMappings" minOccurs="0" />
			<xsd:element name="layouts" type="OpenCmsDefaultAppinfoLayouts" minOccurs="0" />
			<xsd:element name="validationrules" type="OpenCmsDefaultAppinfoValidationrules" minOccurs="0" />
			<xsd:element name="searchsettings" type="OpenCmsDefaultAppinfoSearchsettings" minOccurs="0" />
			<xsd:element name="relations" type="OpenCmsDefaultAppinfoRelations" minOccurs="0" />
			<xsd:element name="modelfolder" type="OpenCmsDefaultAppinfoModelfolder" minOccurs="0" />
			<xsd:element name="tabs" type="OpenCmsDefaultAppinfoTabs" minOccurs="0" />
		</xsd:all>
	</xsd:complexType>
	
</xsd:schema>