modules/org.opencms.frontend.templateone.modules/resources/system/modules/org.opencms.frontend.templateone.modules/schemas/event_additionaldates.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
		
	<xsd:element name="AdditionalDates" type="OpenCmsAdditionalDates"/>
	
	<xsd:complexType name="OpenCmsAdditionalDates">
		<xsd:sequence>
			<xsd:element name="AdditionalDate" type="OpenCmsAdditionalDate" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsAdditionalDate">
		<xsd:sequence>
			<xsd:element name="StartDate" type="OpenCmsDateTime" />
			<xsd:element name="EndDate" type="OpenCmsDateTime" minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="optional"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundle name="org.opencms.frontend.templateone.modules.workplace"/>		
		</xsd:appinfo>
	</xsd:annotation>  
</xsd:schema>