modules/org.opencms.frontend.templateone.modules/resources/system/modules/org.opencms.frontend.templateone.modules/schemas/event.xsd


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
	<xsd:include schemaLocation="opencms://system/modules/org.opencms.frontend.templateone.modules/schemas/event_dates.xsd"/>
	<xsd:include schemaLocation="opencms://system/modules/org.opencms.frontend.templateone.modules/schemas/event_extended.xsd"/>
	<xsd:include schemaLocation="opencms://system/modules/org.opencms.frontend.templateone.modules/schemas/image.xsd"/>
	<xsd:include schemaLocation="opencms://system/modules/org.opencms.frontend.templateone.modules/schemas/externallink.xsd"/>
		
	<xsd:element name="EventArticles" type="OpenCmsEventArticles"/>
	
	<xsd:complexType name="OpenCmsEventArticles">
		<xsd:sequence>
			<xsd:element name="EventArticle" type="OpenCmsEventArticle" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsEventArticle">
		<xsd:sequence>
			<xsd:element name="Title" type="OpenCmsString" />
			<xsd:element name="SubTitle" type="OpenCmsString" minOccurs="0" />
			<xsd:element name="ShortDescription" type="OpenCmsString" />	
			<xsd:element name="LongDescription" type="OpenCmsHtml" />
			<xsd:element name="EventDates" type="OpenCmsEventDate" />
			<xsd:element name="ExternalLink" type="OpenCmsExternalLink" minOccurs="0" maxOccurs="5"/>
			<xsd:element name="Image" type="OpenCmsImage" minOccurs="0" maxOccurs="10"/>
			<xsd:element name="Priority" type="OpenCmsString" minOccurs="0" />
			<xsd:element name="Release" type="OpenCmsDateTime" minOccurs="0" />			
			<xsd:element name="Expiration" type="OpenCmsDateTime" minOccurs="0" />
			<xsd:element name="Extended" type="OpenCmsEventExtended" minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundle name="org.opencms.frontend.templateone.modules.workplace"/>
			<mappings>
				<mapping element="Title" mapto="property:Title" />
				<mapping element="Release" mapto="attribute:datereleased" />
				<mapping element="Expiration" mapto="attribute:dateexpired" />
				<mapping element="Priority" mapto="property:collector.priority" />
			</mappings>
			<layouts>
				<layout element="Priority" widget="SelectorWidget" configuration="6:${key.priority.maximum}|5:${key.priority.veryhigh}|4:${key.priority.high}|3*:${key.priority.standard}|2:${key.priority.low}|1:${key.priority.verylow}|0:${key.priority.minimum}" />
				<layout element="ShortDescription" widget="TextareaWidget" />
			</layouts>
			<defaults>
				<default element="Release" value="${currenttime}"/>
				<default element="Expiration" value="${currenttime}"/>
			</defaults>
			<validationrules/>
		</xsd:appinfo>

	</xsd:annotation>  
</xsd:schema>