modules/org.opencms.frontend.templateone.modules/resources/system/modules/org.opencms.frontend.templateone.modules/schemas/event_dates.xsd


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>	
	<xsd:element name="EventDates" type="OpenCmsEventDates"/>
	
	<xsd:complexType name="OpenCmsEventDates">
		<xsd:sequence>
			<xsd:element name="EventDate" type="OpenCmsEventDate" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsEventDate">
		<xsd:sequence>
			<xsd:element name="EventDate" type="OpenCmsDateTime" />
			<xsd:element name="AdditionalDate" type="OpenCmsDateTime" minOccurs="0" maxOccurs="20" />	
			<xsd:element name="DateRemark" type="OpenCmsString" minOccurs="0" />		
			<xsd:element name="RegistrationClose" type="OpenCmsDateTime" minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="optional"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundle name="org.opencms.frontend.templateone.modules.workplace"/>		
			<mappings>
				<mapping element="EventDate" mapto="property:collector.date" />
			</mappings>
			<layouts>
				<layout element="DateRemark" widget="TextareaWidget" />
			</layouts>
		</xsd:appinfo>
	</xsd:annotation>  
</xsd:schema>