modules/org.opencms.frontend.templateone.modules/resources/system/modules/org.opencms.frontend.templateone.modules/schemas/job_extended.xsd


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
		
	<xsd:element name="JobExtendeds" type="OpenCmsJobExtendeds"/>
	
	<xsd:complexType name="OpenCmsJobExtendeds">
		<xsd:sequence>
			<xsd:element name="JobExtended" type="OpenCmsJobExtended" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsJobExtended">
		<xsd:sequence>
			<xsd:element name="Qualification" type="OpenCmsHtml" minOccurs="0" />
			<xsd:element name="Area" type="OpenCmsString" minOccurs="0" />
			<xsd:element name="Salary" type="OpenCmsString" minOccurs="0" />
			<xsd:element name="Begin" type="OpenCmsDateTime" minOccurs="0" />
			<xsd:element name="DateLimit" type="OpenCmsDateTime" minOccurs="0" />
			<xsd:element name="ClosingDate" type="OpenCmsDateTime" minOccurs="0" />
			<xsd:element name="Id" type="OpenCmsString" minOccurs="0" />
			<xsd:element name="Information" type="OpenCmsString" minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="optional"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundle name="org.opencms.frontend.templatene.modules.workplace"/>
			<layouts>
				<layout element="Information" widget="TextareaWidget" />
			</layouts>
		</xsd:appinfo>
	</xsd:annotation>  
</xsd:schema>