modules/org.opencms.frontend.templateone.modules/resources/system/modules/org.opencms.frontend.templateone.modules/schemas/layoutitem.xsd


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
		
	<xsd:element name="TemplateOneLayoutItems" type="OpenCmsTemplateOneLayoutItems"/>
	
	<xsd:complexType name="OpenCmsTemplateOneLayoutItems">
		<xsd:sequence>
			<xsd:element name="TemplateOneLayoutItem" type="OpenCmsTemplateOneLayoutItem" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsTemplateOneLayoutItem">
		<xsd:sequence>
			<xsd:element name="Type" type="OpenCmsString" />
			<xsd:element name="Folder" type="OpenCmsVfsFile" minOccurs="0" />
			<xsd:element name="Count" type="OpenCmsString" />
			<xsd:element name="Collector" type="OpenCmsString" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="optional"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<handler class="org.opencms.frontend.templateone.modules.CmsLayoutXmlContentHandler" />
			<resourcebundle name="org.opencms.frontend.templateone.modules.workplace"/>
			<layouts>
				<layout element="Type" widget="SelectorWidget" configuration="news:${key.layoutitem.restype.news}|event:${key.layoutitem.restype.event}|job:${key.layoutitem.restype.job}|faq*:${key.layoutitem.restype.faq}|linklist:${key.layoutitem.restype.linklist}" />
				<layout element="Count" widget="ComboWidget" configuration="1|2|3|5|8|10|15" />
				<layout element="Collector" widget="SelectorWidget" configuration="allInFolderPriorityDateAsc:${key.layoutitem.collector.prioritydateasc}|allInFolderPriorityDateDesc:${key.layoutitem.collector.prioritydatedesc}|allInFolderPriorityTitleDesc:${key.layoutitem.collector.prioritytitledesc}|" />
			</layouts>
			<validationrules/>
		</xsd:appinfo>
	</xsd:annotation> 
	 
</xsd:schema>