modules/com.alkacon.opencms.v8.article/resources/system/modules/com.alkacon.opencms.v8.article/schemas/article.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
	<xsd:include schemaLocation="opencms://system/modules/com.alkacon.opencms.v8.article/schemas/nested/paragraph.xsd"/>
		
	<xsd:element name="V8Articles" type="OpenCmsV8Articles"/>
	
	<xsd:complexType name="OpenCmsV8Articles">
		<xsd:sequence>
			<xsd:element name="V8Article" type="OpenCmsV8Article" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsV8Article">
		<xsd:sequence>
			<xsd:element name="Title" type="OpenCmsString" />
			<xsd:element name="Paragraph" type="OpenCmsV8ArticleParagraph" maxOccurs="5" />
			<xsd:element name="Category" type="OpenCmsVfsFile" minOccurs="0" maxOccurs="5" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundles>
			<xmlbundle name="com.alkacon.opencms.v8.article.workplace.xml">
			
				<bundle locale="en">
					<resource key="label.V8Article.Title">Title</resource>
					<resource key="label.V8Article.Title.help">The title of the article.</resource>
					<resource key="label.V8Article.Paragraph">Paragraph</resource>
					<resource key="label.V8Article.Category">Category</resource>
					<resource key="label.V8Article.Category.help">Assigns categories to the article.</resource>
					<resource key="label.V8ArticleParagraph.Headline">Headline</resource>
					<resource key="label.V8ArticleParagraph.Headline.help">The optional headline of the paragraph.</resource>
					<resource key="label.V8ArticleParagraph.Text">Text</resource>
					<resource key="label.V8ArticleParagraph.Text.help">The paragraph text.</resource>
					<resource key="label.V8ArticleParagraph.Image">Image</resource>
					<resource key="label.V8ArticleImage.Image">Image URI</resource>
					<resource key="label.V8ArticleImage.Image.help">The absolute path to the image to use.</resource>
					<resource key="label.V8ArticleImage.Align">Align</resource>
					<resource key="label.V8ArticleImage.Align.help">Select the alignment of the image.</resource>
					<resource key="label.V8ArticleImage.Title">Title</resource>
					<resource key="label.V8ArticleImage.Title.help">The image title is displayed when hovering the image.</resource>
					<resource key="v8.article.image.top">Top</resource>
					<resource key="v8.article.image.lefthl">Left of headline</resource>
					<resource key="v8.article.image.righthl">Right of headline</resource>
					<resource key="v8.article.image.left">Left of text</resource>
					<resource key="v8.article.image.right">Right of text</resource>
					<resource key="v8.article.default.Title">New article</resource>
					<resource key="v8.article.default.Text">Please edit the article text.</resource>
					<resource key="v8.article.setting.boxschema">Color schema</resource>
					<resource key="v8.article.setting.imgalign">Image alignment</resource>
					<resource key="v8.article.setting.hidetitle">Hide title</resource>
					<resource key="v8.article.setting.keephtml">Keep HTML in side column</resource>					
				</bundle> 
				<bundle locale="de">
					<resource key="label.V8Article.Title">Titel</resource>
					<resource key="label.V8Article.Title.help">Der Titel des Artikels.</resource>
					<resource key="label.V8Article.Paragraph">Absatz</resource>
					<resource key="label.V8Article.Category">Kategorie</resource>
					<resource key="label.V8Article.Category.help">Ordnet dem Artikel Kategorien zu.</resource>
					<resource key="label.V8ArticleParagraph.Headline">Überschrift</resource>
					<resource key="label.V8ArticleParagraph.Headline.help">Die optionale Überschrift des Absatzes.</resource>
					<resource key="label.V8ArticleParagraph.Text">Text</resource>
					<resource key="label.V8ArticleParagraph.Text.help">Der Absatztext.</resource>
					<resource key="label.V8ArticleParagraph.Image">Bild</resource>
					<resource key="label.V8ArticleImage.Image">Bild URI</resource>
					<resource key="label.V8ArticleImage.Image.help">Der absolute Pfad des anzuzeigenden Bildes.</resource>
					<resource key="label.V8ArticleImage.Align">Anordnung</resource>
					<resource key="label.V8ArticleImage.Align.help">Wählen Sie die Anordnung des Bildes relativ zum Text.</resource>
					<resource key="label.V8ArticleImage.Title">Titel</resource>
					<resource key="label.V8ArticleImage.Title.help">Der Bildtitel wird beim Überfahren des Bildes mit der Maus gezeigt.</resource>
					<resource key="v8.article.image.top">Oben</resource>
					<resource key="v8.article.image.lefthl">Links der Überschrift</resource>
					<resource key="v8.article.image.righthl">Rechts der Überschrift</resource>
					<resource key="v8.article.image.left">Links vom Text</resource>
					<resource key="v8.article.image.right">Rechts vom Text</resource>
					<resource key="v8.article.default.Title">Neuer Artikel</resource>
					<resource key="v8.article.default.Text">Bitte bearbeiten Sie den Artikeltext.</resource>
					<resource key="v8.article.setting.boxschema">Farbschema</resource>
					<resource key="v8.article.setting.imgalign">Bildausrichtung</resource>
					<resource key="v8.article.setting.hidetitle">Titel verstecken</resource>
					<resource key="v8.article.setting.keephtml">HTML in Seitenspalte erhalten</resource>
				</bundle>						
				</xmlbundle>
			</resourcebundles>
			<mappings>
				<mapping element="Title" mapto="property:Title" />
				<mapping element="Title" mapto="urlName" />
			</mappings>
			<defaults>
				<default element="Title" value="%(key.v8.article.default.Title)" />
				<default element="Paragraph/Text" value="%(key.v8.article.default.Text)" />
			</defaults>
			<layouts>
				<layout element="Category" widget="CategoryWidget" configuration="onlyleafs=false" />
			</layouts>
			<validationrules/>
			<relations>
				<relation element="Paragraph/Image/Image" invalidate="parent" />
			</relations>
			<formatters>
				<formatter minwidth="400" uri="/system/modules/com.alkacon.opencms.v8.article/formatters/detail.jsp" searchcontent="true" />
				<formatter minwidth="150" maxwidth="250" uri="/system/modules/com.alkacon.opencms.v8.article/formatters/side.jsp" searchcontent="true" />
			</formatters>
			<settings>
				<setting name="boxschema" nice-name="%(key.v8.article.setting.boxschema)" default="box_schema3" type="string" widget="select" widget-config="box_schema3:Schema White|box_schema1:Schema Blue|box_schema2:Schema Red" />
				<setting name="imgalign" nice-name="%(key.v8.article.setting.imgalign)" type="string" widget="select" widget-config="left:%(key.v8.article.image.left)|right:%(key.v8.article.image.right)|top:%(key.v8.article.image.top)|lefthl:%(key.v8.article.image.lefthl)|righthl:%(key.v8.article.image.righthl)" />
				<setting name="hidetitle" nice-name="%(key.v8.article.setting.hidetitle)" type="string" widget="checkbox" />
				<setting name="keephtml" nice-name="%(key.v8.article.setting.keephtml)" type="string" widget="checkbox" />
			</settings>
		</xsd:appinfo>

	</xsd:annotation>  
</xsd:schema>