modules/org.opencms.ade.containerpage/resources/system/modules/org.opencms.ade.containerpage/schemas/type_formatter.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd" />
 
    <xsd:element name="ADETypeFormatters" type="OpenCmsADETypeFormatters" />
    
    <xsd:complexType name="OpenCmsADETypeFormatters">
        <xsd:sequence>
            <xsd:element name="ADETypeFormatter" type="OpenCmsADETypeFormatter" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="OpenCmsADETypeFormatter">
        <xsd:sequence>    
            <xsd:element name="Type" type="OpenCmsString" minOccurs="1" maxOccurs="1" />
            <xsd:element name="Jsp" type="OpenCmsString" minOccurs="1" maxOccurs="1" />
            <xsd:element name ="Width" type="OpenCmsString" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
        <xsd:attribute name="language" type="OpenCmsLocale" use="optional" />
    </xsd:complexType>
    
    <xsd:annotation>
        <xsd:appinfo>
        </xsd:appinfo>
    </xsd:annotation>
</xsd:schema>