src/org/opencms/xml/page/xmlpage.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>		
	
	<xsd:element name="pages" type="OpenCmsPages"/>
  
	<xsd:complexType name="OpenCmsPages">
		<xsd:sequence>
			<xsd:element name="page" type="OpenCmsPage" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
  
	<xsd:complexType name="OpenCmsPage">
		<xsd:sequence>
			<xsd:element name="element" type="OpenCmsHtml" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
	</xsd:complexType>

</xsd:schema>