modules/org.opencms.frontend.template3/resources/system/modules/org.opencms.frontend.template3/schemas/linkbox.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
	<xsd:include schemaLocation="opencms://system/modules/org.opencms.frontend.template3/schemas/linkbox-entry.xsd"/>
		
	<xsd:element name="LinkBoxes" type="OpenCmsLinkBoxes"/>
	
	<xsd:complexType name="OpenCmsLinkBoxes">
		<xsd:sequence>
			<xsd:element name="LinkBox" type="OpenCmsLinkBox" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsLinkBox">
		<xsd:sequence>
			<xsd:element name="Title" type="OpenCmsString" />
			<xsd:element name="Description" type="OpenCmsHtml" minOccurs="0" />
			<xsd:element name="Links" type="OpenCmsLinkBoxEntry" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundle name="org.opencms.frontend.template3.workplace"/>
			<mappings>
				<mapping element="Title" mapto="property:Title" />
			</mappings>			
			<layouts>
				<layout element="Description" widget="HtmlWidget" configuration="height:100px" />
			</layouts>
			<formatters>
				<formatter type="center" uri="/system/modules/org.opencms.frontend.template3/elements/linkbox/center.jsp" />
			</formatters>
		</xsd:appinfo>
	</xsd:annotation>  
</xsd:schema>