modules/org.opencms.frontend.template3/resources/system/modules/org.opencms.frontend.template3/schemas/link.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
		
	<xsd:element name="PageLinks" type="OpenCmsPageLinks"/>
	
	<xsd:complexType name="OpenCmsPageLinks">
		<xsd:sequence>
			<xsd:element name="PageLink" type="OpenCmsPageLink" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsPageLink">
		<xsd:sequence>
			<xsd:element name="Text" type="OpenCmsString" />
			<xsd:element name="Link" type="OpenCmsVarLink" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="optional"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundle name="org.opencms.frontend.template3.workplace"/>
			<mappings/>
			<layouts/>
			<validationrules/>
			<defaults/>
		</xsd:appinfo>

	</xsd:annotation>  
</xsd:schema>