modules/org.opencms.frontend.template3/resources/system/modules/org.opencms.frontend.template3/schemas/search.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
		
	<xsd:element name="SearchPages" type="OpenCmsSearchPages"/>
	
	<xsd:complexType name="OpenCmsSearchPages">
		<xsd:sequence>
			<xsd:element name="SearchPage" type="OpenCmsSearchPage" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsSearchPage">
		<xsd:sequence>
			<xsd:element name="Text" type="OpenCmsHtml" />
			<xsd:element name="NoResult" type="OpenCmsHtml" />
			<xsd:element name="Error" type="OpenCmsHtml" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundle name="org.opencms.frontend.template3.workplace"/>
			<mappings/>
			<layouts>
				<layout element="Text" widget="HtmlWidget" configuration="height:100px,formatselect,imagegallery,downloadgallery,linkgallery,link,anchor,table" />
				<layout element="NoResult" widget="HtmlWidget" configuration="height:100px,formatselect,imagegallery,downloadgallery,linkgallery,link,anchor,table" />
				<layout element="Error" widget="HtmlWidget" configuration="height:100px,formatselect,imagegallery,downloadgallery,linkgallery,link,anchor,table" />
			</layouts>
			<validationrules/>
			<defaults/>
			<formatters>
				<formatter type="template" uri="/system/modules/org.opencms.frontend.template3/elements/search-template.jsp" />
			</formatters>
		</xsd:appinfo>
	</xsd:annotation>  
</xsd:schema>