test/org/opencms/ai/xmlcontent-definition-1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>	
	<xsd:element name="Llmtests" type="OpenCmsLlmtests"/>
	
	<xsd:complexType name="OpenCmsLlmtests">
		<xsd:sequence>
			<xsd:element name="Llmtest" type="OpenCmsLlmtest" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsLlmtest">
		<xsd:sequence>
			<xsd:element name="String" type="OpenCmsString" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="DateTime" type="OpenCmsDateTime" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="Html" type="OpenCmsHtml" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo/>
	</xsd:annotation>  
</xsd:schema>