src/org/opencms/xml/adeconfig/add_content_restriction.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/add_content_restriction_entry.xsd" />

    <xsd:element name="AddContentRestrictions" type="OpenCmsAddContentRestrictions" />

    <xsd:complexType name="OpenCmsAddContentRestrictions">
        <xsd:sequence>
            <xsd:element name="AddContentRestriction" type="OpenCmsAddContentRestriction" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OpenCmsAddContentRestriction">
        <xsd:sequence>
        	<xsd:element name="Type" type="OpenCmsString" />
            <xsd:element name="Entry" type="OpenCmsAddContentRestrictionEntry" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="language" type="OpenCmsLocale" use="optional" />
    </xsd:complexType>

    <xsd:annotation>
        <xsd:appinfo>
            <resourcebundle name="org.opencms.xml.containerpage.messages" />
            <layouts>
            	<layout element="Type" widget="org.opencms.widgets.CmsTypeFilterWidget"  />
            </layouts>
        </xsd:appinfo>
    </xsd:annotation>

</xsd:schema>
