src/org/opencms/xml/adeconfig/detailpage.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd" />
 
    <xsd:element name="DetailPages" type="OpenCmsDetailPages" />
    
    <xsd:complexType name="OpenCmsDetailPages">
        <xsd:sequence>
            <xsd:element name="DetailPage" type="OpenCmsDetailPage" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="OpenCmsDetailPage">
        <xsd:sequence>    
            <xsd:element name="Type" type="OpenCmsString" />
            <xsd:element name="Page" type="OpenCmsVfsFile" />
        </xsd:sequence>
        <xsd:attribute name="language" type="OpenCmsLocale" use="optional" />
    </xsd:complexType>
    
    <xsd:annotation>
        <xsd:appinfo>
			<resourcebundle name="org.opencms.xml.containerpage.messages"/>
			<layouts>
				<layout element="Type" widget="org.opencms.widgets.CmsTypeComboWidget" /> 
			</layouts>
        </xsd:appinfo>
    </xsd:annotation>

</xsd:schema>
