src/org/opencms/xml/adeconfig/folder_option.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd" />

    <xsd:element name="ADEFolderOptions" type="OpenCmsADEFolderOptions" />

    <xsd:complexType name="OpenCmsADEFolderOptions">
        <xsd:sequence>
            <xsd:element name="ADEFolderOption" type="OpenCmsADEFolderOption" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OpenCmsADEFolderOption">
        <xsd:choice>
              <xsd:element name="Default" type="OpenCmsString" minOccurs="0" maxOccurs="1" />
              <xsd:element name="Path" type="OpenCmsVfsFile" minOccurs="0" maxOccurs="1" />
        </xsd:choice>
        <xsd:attribute name="language" type="OpenCmsLocale" use="optional" />
    </xsd:complexType>

    <xsd:annotation>
        <xsd:appinfo>
            <resourcebundle name="org.opencms.xml.containerpage.messages" />
            <layouts>
                <layout element="Default" widget="DisplayWidget" configuration=".content" display="singleline" />
                <layout element="Path" widget="VfsFileWidget"  display="singleline" />
            </layouts>
        </xsd:appinfo>
    </xsd:annotation>

</xsd:schema>
