src/org/opencms/xml/adeconfig/list_preconfigured_filter.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <!-- File: list_preconfigured_filter.xsd -->

    <xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd" />

    <xsd:element name="ListPreconfiguredFilters" type="OpenCmsListPreconfiguredFilters" />

    <xsd:complexType name="OpenCmsListPreconfiguredFilters">
        <xsd:sequence>
            <xsd:element name="ListPreconfiguredFilter" type="OpenCmsListPreconfiguredFilter" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OpenCmsListPreconfiguredFilter">
        <xsd:sequence>
            <xsd:element name="Rule" type="OpenCmsString" />
            <xsd:element name="Value" type="OpenCmsString" maxOccurs="100"/>
        </xsd:sequence>
        <xsd:attribute name="language" type="OpenCmsLocale" use="optional" />
    </xsd:complexType>

    <xsd:annotation>
        <xsd:appinfo>
            <resourcebundle name="org.opencms.xml.containerpage.messages"/>
            <FieldSettings>
                <Setting>
                    <PropertyName>Rule</PropertyName>
                    <Widget><![CDATA[%(attribute:core.list.query.rule.widget:string)]]></Widget>
                    <WidgetConfig><![CDATA[%(attribute:core.list.query.rule.config:string)]]></WidgetConfig>
                </Setting>
            </FieldSettings>
        </xsd:appinfo>
    </xsd:annotation>

</xsd:schema>
