src/org/opencms/xml/adeconfig/list_config.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <!-- File: list_config.xsd -->

    <xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/parameters.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/date_restriction.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/list_category_folder_filter.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/list_geo_filter.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/list_preconfigured_filter.xsd" />

    <xsd:element name="ListConfigs" type="OpenCmsListConfigs" />

    <xsd:complexType name="OpenCmsListConfigs">
        <xsd:sequence>
            <xsd:element name="ListConfig" type="OpenCmsListConfig" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OpenCmsListConfig">
        <xsd:sequence>
        <xsd:element name="Title" type="OpenCmsString" />
        <xsd:element name="TypesToCollect" type="OpenCmsDisplayFormatter" minOccurs="1" maxOccurs="unbounded" />
        <xsd:element name="SearchFolder" type="OpenCmsVfsFile" minOccurs="1" maxOccurs="unbounded" />
        <xsd:element name="Category" type="OpenCmsCategory" />
        <xsd:element name="CategoryMode" type="OpenCmsString" />
        <xsd:element name="SortOrder" type="OpenCmsString" />
        <xsd:element name="DateRestriction" type="OpenCmsListDateRestriction" minOccurs="0" />
        <xsd:element name="CategoryFolderFilter" type="OpenCmsListCategoryFolderFilter" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element name="GeoFilter" type="OpenCmsListGeoFilter" minOccurs="0" />
        <xsd:element name="PreconfiguredFilterQuery" type="OpenCmsListPreconfiguredFilter" minOccurs="0" maxOccurs="50" />
        <xsd:element name="FilterQuery" type="OpenCmsString" minOccurs="0" />
        <xsd:element name="MaxResults" type="OpenCmsString" minOccurs="0" />
        <xsd:element name="ShowExpired" type="OpenCmsBoolean" minOccurs="0" />
        <xsd:element name="FilterMultiDay" type="OpenCmsBoolean" minOccurs="0" />
        <xsd:element name="Parameter" type="OpenCmsParameter" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element name="Blacklist" type="OpenCmsVfsFile" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="language" type="OpenCmsLocale" use="optional" />
    </xsd:complexType>

    <xsd:annotation>
        <xsd:appinfo>
            <handler class="org.opencms.xml.containerpage.CmsListConfigContentHandler" />
            <resourcebundle name="org.opencms.xml.containerpage.messages" />
            <tabs>
                <tab element="Title" collapse="false" name="TabGeneral" />
                <tab element="DateRestriction" collapse="false" name="TabAdvanced" />
                <tab element="Blacklist" collapse="false" name="TabBlacklist" />
            </tabs>
            <mappings>
                <mapping element="Title" mapto="property:Title" useDefault="true" />
                <mapping element="Title" mapto="urlName" useDefault="true" />
            </mappings>
            <defaults>
                <default element="CategoryMode" value="OR" />
                <default element="SearchFolder" value="/" />
            </defaults>
            <layouts>
                <layout element="TypesToCollect" widget="DisplayTypeSelectWidget" configuration="template.display.types|matchTypes" />
                <layout element="SearchFolder" widget="VfsFileWidget" configuration="excludefiles" />
                <layout element="Category" widget="CategoryWidget" configuration="onlyleafs=false" />
                <layout element="CategoryMode" widget="SelectorWidget" configuration="AND:%(key.list_config.categoryModeAnd)|OR:%(key.list_config.categoryModeOr)" />
                <layout element="SortOrder" widget="SelectorWidget" configuration="
                    DATE_ASC:%(key.list_config.sort.dateasc)|
                    DATE_DESC:%(key.list_config.sort.datedesc)|
                    TITLE_ASC:%(key.list_config.sort.titleasc)|
                    TITLE_DESC:%(key.list_config.sort.titledesc)|
                    ORDER_ASC:%(key.list_config.sort.orderasc)|
                    ORDER_DESC:%(key.list_config.sort.orderdesc)" />
            </layouts>
            <validationrules>
                <validationrule element="TypesToCollect" regex=".+" type="error" message="%(key.err.typestocollect.notempty)" />
                <validationrule element="MaxResults" regex="([1-9]\d*)|(-1)" type="error" message="%(key.err.maxresults.number)" />
            </validationrules>
            <nestedformatters>
                <nestedformatter element="TypesToCollect"/>
            </nestedformatters>
        </xsd:appinfo>
    </xsd:annotation>

</xsd:schema>