src/org/opencms/xml/adeconfig/restriction_fromtoday.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>

	<xsd:element name="DateRestrictionFromTodays" type="OpenCmsDateRestrictionFromTodays"/>

	<xsd:complexType name="OpenCmsDateRestrictionFromTodays">
		<xsd:sequence>
			<xsd:element name="DateRestrictionFromToday" type="OpenCmsDateRestrictionFromToday" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsDateRestrictionFromToday">
		<xsd:sequence>
			<xsd:element name="Count" type="OpenCmsString" />
			<xsd:element name="Unit" type="OpenCmsString" />
			<xsd:element name="Direction" type="OpenCmsString" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="optional"/>
	</xsd:complexType>
	
	 <xsd:annotation>
        <xsd:appinfo>
			<resourcebundle name="org.opencms.xml.containerpage.messages"/>
			<defaults>
			</defaults>
			<layouts>
				<layout element="Direction" widget="SelectorWidget" configuration="past:%(key.list_config.past)|future:%(key.list_config.future)" />
				<layout element="Unit" widget="SelectorWidget" configuration="DAYS:%(key.list_config.days)|WEEKS:%(key.list_config.weeks)|MONTHS:%(key.list_config.months)|YEARS:%(key.list_config.years)" />
			</layouts>
        </xsd:appinfo>
    </xsd:annotation>

</xsd:schema>