src/org/opencms/xml/adeconfig/sitemap_config.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd" />  
    <xsd:include schemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/type.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/model_page.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/field.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/detailpage.xsd" />
    <xsd:element name="SitemapConfigurations" type="OpenCmsSitemapConfigurations" />

    <xsd:complexType name="OpenCmsSitemapConfigurations">
        <xsd:sequence>
            <xsd:element name="SitemapConfiguration" type="OpenCmsSitemapConfiguration" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="OpenCmsSitemapConfiguration">
        <xsd:sequence>
            <xsd:element name="DiscardTypes" type="OpenCmsBoolean" minOccurs="0" maxOccurs="1" />
        	<xsd:element name="CreateContentsLocally" type="OpenCmsBoolean" minOccurs="0" maxOccurs="1" />
            <xsd:element name="ResourceType" type="OpenCmsADEType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="DiscardModelPages" type="OpenCmsBoolean" minOccurs="0" maxOccurs="1" />
            <xsd:element name="ModelPage" type="OpenCmsADEModelPage" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="DiscardProperties" type="OpenCmsBoolean" minOccurs="0" maxOccurs="1" />
            <xsd:element name="Property" type="OpenCmsADEField" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="DetailPage" type="OpenCmsDetailPage" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="RemoveFormatter" type="OpenCmsString" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="AddFormatter" type="OpenCmsString" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="language" type="OpenCmsLocale" use="optional" />
    </xsd:complexType>
    <xsd:annotation>
        <xsd:appinfo>
			<resourcebundle name="org.opencms.xml.containerpage.messages"/>
			<layouts>
				<layout element="AddFormatter" widget="org.opencms.widgets.CmsAddFormatterWidget" configuration="" />
				<layout element="RemoveFormatter" widget="org.opencms.widgets.CmsRemoveFormatterWidget" configuration="" />
			</layouts>
			<tabs>
				<tab element="DiscardTypes" name="TabResourceTypes" collapse="false" />
				<tab element="DiscardModelPages" name="TabPageModels" collapse="false" />
				<tab element="DiscardProperties" name="TabPropertyConfiguration" collapse="false" />
				<tab element="DetailPage" name="TabDetailPages" collapse="false" />
				<tab element="RemoveFormatter" name="TabFormatters" collapse="false" />
			</tabs>
        </xsd:appinfo>        
    </xsd:annotation>
</xsd:schema>


		