src/org/opencms/xml/adeconfig/site_plugin.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <!-- File: sitemap_master_config.xsd -->

    <xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/formatters/plugin.xsd" />
    <xsd:element name="SitePlugins" type="OpenCmsSitePlugins" />

    <xsd:complexType name="OpenCmsSitePlugins">
        <xsd:sequence>
            <xsd:element name="SitePlugin" type="OpenCmsSitePlugin" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OpenCmsSitePlugin">
        <xsd:sequence>
        	<xsd:element name="NiceName" type="OpenCmsString" />
        	<xsd:element name="Description" type="OpenCmsString" />
            <xsd:element name="Plugin" type="OpenCmsPlugin" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="language" type="OpenCmsLocale" use="optional" />
    </xsd:complexType>

    <xsd:annotation>
        <xsd:appinfo>
            <resourcebundle name="org.opencms.xml.containerpage.messages" />
            <mappings>
                <mapping element="NiceName" mapto="galleryName" />
            </mappings>
            <messagekeyhandler class="org.opencms.i18n.CmsReplaceMessageKeyPrefix" configuration="label.SitemapMasterConfiguration:label.SitemapConfiguration" />
        </xsd:appinfo>
    </xsd:annotation>

</xsd:schema>



