modules/org.opencms.frontend.templateone.form/resources/system/modules/org.opencms.frontend.templateone.form/schemas/form.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
	<xsd:include schemaLocation="opencms://system/modules/org.opencms.frontend.templateone.form/schemas/inputfield.xsd"/>
	<xsd:include schemaLocation="opencms://system/modules/org.opencms.frontend.templateone.form/schemas/optionalconfig.xsd"/>
	<xsd:include schemaLocation="opencms://system/modules/org.opencms.frontend.templateone.form/schemas/optionalconfirmation.xsd"/>
		
	<xsd:element name="OnlineForms" type="OpenCmsOnlineForms"/>
	
	<xsd:complexType name="OpenCmsOnlineForms">
		<xsd:sequence>
			<xsd:element name="OnlineForm" type="OpenCmsOnlineForm" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsOnlineForm">
		<xsd:sequence>
			<xsd:element name="MailFrom" type="OpenCmsString" />
			<xsd:element name="MailTo" type="OpenCmsString" />
			<xsd:element name="MailSubject" type="OpenCmsString" />
			<xsd:element name="MailText" type="OpenCmsHtml" />						
			<xsd:element name="FormText" type="OpenCmsHtml" />		
			<xsd:element name="InputField" type="OpenCmsInputField" maxOccurs="unbounded" /> 			
			<xsd:element name="FormConfirmation" type="OpenCmsHtml" />
			<xsd:element name="OptionalFormConfiguration" type="OpenCmsOptionalFormConfiguration" minOccurs="0" />
			<xsd:element name="OptionalConfirmationMail" type="OpenCmsOptionalConfirmationMail" minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundle name="org.opencms.frontend.templateone.form.workplace"/>
		</xsd:appinfo>
	</xsd:annotation>  
	
</xsd:schema>