modules/org.opencms.frontend.templateone.form/resources/system/modules/org.opencms.frontend.templateone.form/schemas/optionalformcaptcha.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
		
	<xsd:element name="FormCaptchas" type="OpenCmsFormCaptchas"/>
	
	<xsd:complexType name="OpenCmsFormCaptchas">
		<xsd:sequence>
			<xsd:element name="FormCaptcha" type="OpenCmsFormCaptcha" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsFormCaptcha">
		<xsd:sequence>
			<xsd:element name="FieldLabel" type="OpenCmsString" />
			
			<xsd:element name="ImageWidth" type="OpenCmsString" minOccurs="0" maxOccurs="1" />
			<xsd:element name="ImageHeight" type="OpenCmsString" minOccurs="0" maxOccurs="1" />
			<xsd:element name="MinPhraseLength" type="OpenCmsString" minOccurs="0" maxOccurs="1" />
			<xsd:element name="MaxPhraseLength" type="OpenCmsString" minOccurs="0" maxOccurs="1" />
			<xsd:element name="MinFontSize" type="OpenCmsString" minOccurs="0" maxOccurs="1" />
			<xsd:element name="MaxFontSize" type="OpenCmsString" minOccurs="0" maxOccurs="1" />
			<xsd:element name="FontColor" type="OpenCmsColor" minOccurs="0" maxOccurs="1" />
			<xsd:element name="BackgroundColor" type="OpenCmsColor" minOccurs="0" maxOccurs="1" />
			<xsd:element name="HolesPerGlyph" type="OpenCmsString" minOccurs="0" maxOccurs="1" />                        
			<xsd:element name="FilterAmplitude" type="OpenCmsString" minOccurs="0" maxOccurs="1" />                        
			<xsd:element name="FilterWaveLength" type="OpenCmsString" minOccurs="0" maxOccurs="1" />                        
			
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="optional"/>
	</xsd:complexType>
	
	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundle name="org.opencms.frontend.templateone.form.workplace"/>
			<layouts>
				<layout element="HolesPerGlyph" widget="SelectorWidget" configuration="0|1|2|3|4|5" />
				<layout element="FilterAmplitude" widget="SelectorWidget" configuration="0|1|2|3|4|5|6|7|8|9|10" />
				<layout element="FilterWaveLength" widget="SelectorWidget" configuration="10|20|30|40|50|60|70|80|90|100" />
			</layouts>
		</xsd:appinfo>
	</xsd:annotation>  
 
</xsd:schema>