test/data/imports/solrtest/sites/default/extractLinked/extract-linked.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
	<xsd:element name="ExtractLinkeds" type="OpenCmsExtractLinkeds"/>
	
	<xsd:complexType name="OpenCmsExtractLinkeds">
		<xsd:sequence>
			<xsd:element name="ExtractLinked" type="OpenCmsExtractLinked" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsExtractLinked">
		<xsd:sequence>
			<xsd:element name="Title" type="OpenCmsString" />
			<xsd:element name="Link" type="OpenCmsVfsFile" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<searchsettings containerPageOnly="false">
				<searchsetting element="Title" searchcontent="true" />
				<searchsetting element="Link" searchcontent="content" />
			</searchsettings>
		</xsd:appinfo>
	</xsd:annotation>  
</xsd:schema>