modules/org.opencms.ade.config/resources/system/modules/org.opencms.ade.config/schemas/sitemap_config.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/type.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/field.xsd" />
    <xsd:include schemaLocation="opencms://system/modules/org.opencms.ade.config/schemas/detailpage.xsd" />
    
    <xsd:element name="ADETypeConfigurations" type="OpenCmsADETypeConfigurations" />

    <xsd:complexType name="OpenCmsADETypeConfigurations">
        <xsd:sequence>
            <xsd:element name="ADETypeConfiguration" type="OpenCmsADETypeConfiguration" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="OpenCmsADETypeConfiguration">
        <xsd:sequence>
            <xsd:element name="ADEType" type="OpenCmsADEType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="ADEField" type="OpenCmsADEField" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="MaxDepth" type="OpenCmsString" minOccurs="0" maxOccurs="1" />
            <xsd:element name="DetailPage" type="OpenCmsDetailPage" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="language" type="OpenCmsLocale" use="optional" />
    </xsd:complexType>
    
    <xsd:annotation>
        <xsd:appinfo>
			<resourcebundle name="org.opencms.xml.containerpage.messages"/>
			<relations>
				<relation element="DetailPage/Page" type="strong" invalidate="parent" />
				<relation element="ADEType/Source" type="strong" invalidate="parent" />
			</relations>
        </xsd:appinfo>
        
    </xsd:annotation>
</xsd:schema>
