modules/org.opencms.base/resources/system/modules/org.opencms.base/schemas/notification-user-password.xsd


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>

		
	<xsd:element name="ContentUserNotifications" type="OpenCmsContentUserNotifications"/>
	
	<xsd:complexType name="OpenCmsContentUserNotifications">
		<xsd:sequence>
			<xsd:element name="ContentUserNotification" type="OpenCmsContentUserNotification" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsContentUserNotification">
		<xsd:sequence>
			<xsd:element name="Subject" type="OpenCmsString" />
			<xsd:element name="TextChangePassword" type="OpenCmsHtml"/>
			<xsd:element name="TextKeepPassword" type="OpenCmsHtml"/>
			<xsd:element name="Footer" type="OpenCmsHtml"/>	
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundle name="org.opencms.ui.apps"/>
			<mappings>
				<mapping element="Subject" mapto="property:Title" />
			</mappings>
			<defaults/>
			<validationrules/>
			<layouts>
				<layout element="TextChangePassword" widget="HtmlWidget" configuration="formatselect,link,anchor,source" />
				<layout element="TextKeepPassword" widget="HtmlWidget" configuration="formatselect,link,anchor,source" />
				<layout element="Footer" widget="HtmlWidget" configuration="formatselect,link,anchor,source" />
			</layouts>
		</xsd:appinfo>

	</xsd:annotation>  
</xsd:schema>