test/org/opencms/xml/content/news-v0.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd" />

    <xsd:element name="ArticleData" type="OpenCmsArticleData" />

    <xsd:complexType name="OpenCmsArticleData">
        <xsd:sequence>
            <xsd:element name="Article" type="OpenCmsArticle" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OpenCmsArticle">
        <xsd:sequence>
            <xsd:element name="Intro" type="OpenCmsString" />
            <xsd:element name="Title" type="OpenCmsString" />
            <xsd:element name="Image" type="OpenCmsVfsFile" minOccurs="0" />
            <xsd:element name="Text" type="OpenCmsHtml"  />
        </xsd:sequence>
        <xsd:attribute name="language" type="OpenCmsLocale" use="required" />
    </xsd:complexType>

    <xsd:annotation>
        <xsd:appinfo>
        </xsd:appinfo>
    </xsd:annotation>

</xsd:schema>
