test/org/opencms/xml/content/xmlcontent-definition-8.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>	

	<xsd:element name="Validations" type="OpenCmsValidations"/>
	
	<xsd:complexType name="OpenCmsValidations">
		<xsd:sequence>
			<xsd:element name="Validation" type="OpenCmsValidation" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsValidation">
		<xsd:sequence>
			<xsd:element name="String" type="OpenCmsString" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="DateTime" type="OpenCmsDateTime" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="Html" type="OpenCmsHtml" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="Locale" type="OpenCmsLocale" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="Color" type="OpenCmsColor" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="VfsFile" type="OpenCmsVfsFile" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="Boolean" type="OpenCmsBoolean" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="required"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<validationrules>
				<rule element="String" regex="!.*err.*" />
				<rule element="String" regex="!.*warn.*" type="warning" />
				<rule element="Color" regex="#([a-f]|[A-F]|[0-9]){6}" />
				<rule element="Locale" regex="de|en" />
			</validationrules>
		</xsd:appinfo>
	</xsd:annotation>  
</xsd:schema>