modules/org.opencms.frontend.templatetwo/resources/system/modules/org.opencms.frontend.templatetwo/schemas/listbox-mappings.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>	
	<xsd:element name="ListBoxMappings" type="OpenCmsListBoxMappings"/>
	
	<xsd:complexType name="OpenCmsListBoxMappings">
		<xsd:sequence>
			<xsd:element name="ListBoxMapping" type="OpenCmsListBoxMapping" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsListBoxMapping">
		<xsd:sequence>
			<xsd:element name="Field" type="OpenCmsString" />
			<xsd:element name="XmlNode" type="OpenCmsString" maxOccurs="20" />
			<xsd:element name="Default" type="OpenCmsString" minOccurs="0" />
			<xsd:element name="MaxLength" type="OpenCmsString" minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="optional"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundle name="org.opencms.frontend.templatetwo.workplace"/>
			<layouts>
				<layout element="Field" widget="SelectorWidget" configuration="Title|Text|Link|Author|Date|Image" />
			</layouts>
		</xsd:appinfo>
	</xsd:annotation>  
</xsd:schema>