test/org/opencms/ugc/image.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>

	<xsd:element name="BootstrapImages" type="OpenCmsBootstrapImages"/>

	<xsd:complexType name="OpenCmsBootstrapImages">
		<xsd:sequence>
			<xsd:element name="BootstrapImage" type="OpenCmsBootstrapImage" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsBootstrapImage">
		<xsd:sequence>
			<xsd:element name="Image" type="OpenCmsString" />
			<xsd:element name="Title" type="OpenCmsString" />
			<xsd:element name="Description" type="OpenCmsString" minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="optional"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
		</xsd:appinfo>
	</xsd:annotation>  
</xsd:schema>