test/org/opencms/ugc/link.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>

	<xsd:element name="BootstrapLinks" type="OpenCmsBootstrapLinks"/>

	<xsd:complexType name="OpenCmsBootstrapLinks">
		<xsd:sequence>
			<xsd:element name="BootstrapLink" type="OpenCmsBootstrapLink" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsBootstrapLink">
		<xsd:sequence>
			<xsd:element name="Text" type="OpenCmsString" />
			<xsd:element name="URI" type="OpenCmsString" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="optional"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
		</xsd:appinfo>
	</xsd:annotation>
</xsd:schema>