test/data/imports/ade-setup/system/workplace/editors/ade/schemas/sub_container_content_element.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>
	<xsd:include schemaLocation="opencms://system/workplace/editors/ade/schemas/container_element_property.xsd"/>
		
	<xsd:element name="AlkaconSubContainerContentElements" type="OpenCmsAlkaconSubContainerContentElements"/>
	
	<xsd:complexType name="OpenCmsAlkaconSubContainerContentElements">
		<xsd:sequence>
			<xsd:element name="AlkaconSubContainerContentElement" type="OpenCmsAlkaconSubContainerContentElement" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsAlkaconSubContainerContentElement">
		<xsd:sequence>
			<xsd:element name="Uri" type="OpenCmsVfsFile" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Properties" type="OpenCmsAlkaconContainerElementProperty" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="optional"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundle name="org.opencms.xml.containerpage.messages"/>
			<validationrules>
				<rule element="Uri" regex=".+" type="error" message="%(key.err.uri.notempty)" />
			</validationrules>
			<relations>
				<relation element="Uri" type="strong" invalidate="false" />
			</relations>
		</xsd:appinfo>

	</xsd:annotation>  
</xsd:schema>