modules/com.alkacon.opencms.v8.list/resources/system/modules/com.alkacon.opencms.v8.list/schemas/nested/link.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	
	<xsd:include schemaLocation="opencms://opencms-xmlcontent.xsd"/>	
	<xsd:element name="V8ListLinks" type="OpenCmsV8ListLinks"/>
	
	<xsd:complexType name="OpenCmsV8ListLinks">
		<xsd:sequence>
			<xsd:element name="V8ListLink" type="OpenCmsV8ListLink" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="OpenCmsV8ListLink">
		<xsd:sequence>
			<xsd:element name="Text" type="OpenCmsString" />
			<xsd:element name="Link" type="OpenCmsVarLink" />
		</xsd:sequence>
		<xsd:attribute name="language" type="OpenCmsLocale" use="optional"/>
	</xsd:complexType>

	<xsd:annotation>
		<xsd:appinfo>
			<resourcebundle name="com.alkacon.opencms.v8.list.workplace"/>
		</xsd:appinfo>
	</xsd:annotation>  
</xsd:schema>